[2020-08-26 14:02] wag110894 commented on #1063
No longer an issue from mtvh.

[2020-08-26 14:02] #1063 closed

[2020-08-27 15:44] abhilash-aot opened #1073 "Dynamic access permission at submission level"
Is there any way to **dynamically manage access permission at a submission level rather than at a form level.**

**Use-case:**

Our system uses form.io with two predefined roles: Reviewer and Client and creates a form say **"General Business Application"**.

When the Client fills-in and submit the form; it goes to the "Reviewer" queue for approval. As per the current flow, the client is allowed to

[2020-08-27 20:16] randallknutson commented on #1073
You can do this with "Field Based Resource Access" settings. Basically how this works is you can have a select component where you can assign a user on the submission and grant access to the submission based on that field. For example, if you create a job for an employee and that employee is listed on the job you can grant access because they are listed. You can see more here: https://help.form.io

[2020-08-28 09:27] shobhitvdb opened #1074 "[BUG] Need to send an email to the specified address mentioned in a hidden field of Email form."
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version:
- Formio.js version:
- Frontend framework:
- Browser:
- Browser version:

## Steps to Reproduce
1. create a form on form.io and add an action for emailer.
2. After filling the form, not able to send an email on the address mentioned in the form.
3.

## Expected behavior

[2020-08-28 16:55] wag110894 commented on #1074
Can you provide the action settings that you are adding to the form in order for this to occur?

[2020-08-29 10:21] PrajwalK commented on #1072
This issue has been fixed in the latest version of formio 4.11.3

Please upgrade to the latest version

![image](https://user-images.githubusercontent.com/13089873/91634653-85e4e100-ea0f-11ea-8233-5fc1869d1681.png)

[2020-08-31 08:52] viswateja1992 opened #1077 "In render Mode HTMl form feilds alignment is not proper. [BUG]"
In render mode html form fields are not aligned properly. Form Label and value are rendering horizontally instead of vertically.

<img width="311" alt="Capture" src="https://user-images.githubusercontent.com/9268673/91701723-5233c380-eb95-11ea-8783-c78abc24d9d6.PNG">

https://jsfiddle.net/gxmwhr6n

How to render those form fields vertically.

[2020-08-31 15:15] wag110894 commented on #1077
You can place these components in either a Table Component or in a Column Component. Both are located in the Layout section of the builder.

More documentation is available here: https://help.form.io/userguide/layout-components/

[2020-08-31 15:31] StephenOTT opened #1078 "Updates to Validator.js and new usage?"
The usage of Validator.js in src/resources/Validator.js was typically like:

[code]

Noticing that new updates with Formio with the legacyValidator, and the updated Validator.js.

I see in the new validator, there is the "hook" variable.

Any direction you can provide on proper usage of the new validator?

The use case here is the Schema and submission are sent to the validator on each validation

[2020-08-31 17:25] #1072 closed

[2020-08-31 20:38] randallknutson commented on #1078
I think you've pretty much got it figured it out. The hook is primarily there to make a few changes within the validator which is also used in the browser. For example, the unique validator needs to know what the submission model is so we need to pass it in. We don't have good documentation beyond the example in formio so your best bet is to look at the code like you are already doing in how it is

[2020-08-31 20:46] StephenOTT commented on #1078
@randallknutson I was hitting issues related to hooks.
had to add: `const hook = require('formio/src/util/hook');`

and then rewrite similar to your new code:

[code]

is there something to do to create a ~blank hook?

And then wehn rewrite as:

[code]

I get

[code]

Any ideas on how to handle this?

[2020-08-31 20:50] StephenOTT commented on #1078
What is the difference between the form schema and the submission model?

Previously we seemed to be able to pass in the Full schema + the submission object and it would seem to function.  Is there a different flow to be followed?

[2020-09-01 13:43] randallknutson commented on #1078
The form schema is the definition of the form in json. The submission model is the database model that can be used to load submissions.

The basic process is like this:
const validator = new Validator(formSchema, submissionModel, hooks);

validator.validate(submission);

[2020-09-01 14:21] StephenOTT commented on #1078
@randallknutson the constructor does not seem to match your example:
https://github.com/formio/formio/blob/master/src/resources/Validator.js#L19

What we found is that we dont need to pass an actual submissionModel for 99% of functionality.  So it is just a dummy function.

[2020-09-01 21:00] randallknutson commented on #1078
I'm not sure you need to pass a submission model since it is currently only used by the unique validator. As long as you aren't using unique validations you should be fine passing a dummy function for the submission model.

[2020-09-01 21:05] StephenOTT commented on #1078
@randallknutson  The issue we are running into at the moment is related to hooks.  Can a hook object be created as a dummy object? What would the hooks be used for on server side?

[2020-09-02 14:40] randallknutson commented on #1078
You should be able to make a dummy hook. It is mainly used for manually removing some values when hidden. It shouldn't really be needed to do anything with the hooks.

[2020-09-02 15:39] RubiCom007 commented on #577
Hi, Have you ever got it sorted? I have the same issue.

[2020-09-04 07:16] shobhitvdb commented on #1074
Hey Wag,
I want to change the submission format of date into my email template. Can you help me in that.
For example currently I am getting 2020-09-08T18:30:00.000Z.
But I need a format like Monday 15 September in IST

[2020-09-04 15:00] randallknutson commented on #1074
You should be able to send an email to a hidden field. Just make sure there is actually a Hidden Component field on the form and it has the value of the email address. Give it a property name like "hiddenEmail" and then you can send the email to data.hiddenEmail.

As for formatting dates, you should have a moment variable that can use the moment.js library to format the dates.

[2020-09-09 04:16] viswateja1992 opened #1082 "Dynamically generate the data grid content"
I have a Data grid with default value as below. Products drop is getting populated from URL data source. If drop down has 5 values 5 rows in the Data grid should get generated and drop down in each row should get defaulted to each drop down value.
How this can be achieved.

<img width="685" alt="Capture" src="https://user-images.githubusercontent.com/9268673/92414588-8a796a00-f172-11ea-8dc1-dad797

[2020-09-09 11:10] Mfryk85 opened #1083 "Conditional Wizard, no value in submissions for pages"
Hi,

Don't know if this is a bug or if I'm doing something wrong but when I hide pages based on check boxes no data is submitted when submitting form.  Simple conditional, should show true when component true.

![image](https://user-images.githubusercontent.com/44379843/92590882-4040d780-f29d-11ea-849b-921806ab8f06.png)

![image](https://user-images.githubusercontent.com/44379843/92590950-58185b80

[2020-09-09 14:51] randallknutson commented on #1082
You will need to pull the Products list into data somewhere instead of just as a dropdown list. Then you can set the default value for the datagrid to the products values which is an array. The will create the 5 rows and set the products value to each item.

[2020-09-09 21:32] wag110894 commented on #1083
@Mfryk85m

I see that you are using our old renderer and not our 4x Core Renderer, which can be found here: https://github.com/formio/formio.js.

Our 4x core renderer has changed how our wizard shows and has provided a lot of new functionality.

[2020-09-10 09:55] shobhitvdb commented on #1074
Hey Randalf,
Please help me in a scenario,
We are using a Date time box in one of our forms and we have disabled time from that. and we are getting time 1 day before the time provided. For example:
We have selected the date as "Sep 12, 2020 (Sat)", and we are getting the date in data as "2020-09-11T18:30:00.000Z".

How can I get the exact date that was put in the form.

[2020-09-10 14:42] randallknutson commented on #1074
Set the Display in Timezone setting to "Submitter". That way it will display the date from where the user was when they submitted the form.

[2020-09-10 20:33] MalkyTheKid opened #1085 "[HELP] Portal FormIO, Do we keep versions of forms (sort of a repo) when we Save/publish a form?"
Is this a feature available right now in portal FormIO?
If for some reason we have to revert a form to a previous state, are we able to do that?

[2020-09-10 20:37] wag110894 commented on #1085
Hello @MalkyTheKid,

Here is our documentation on Revisions: https://help.form.io/userguide/versioning/

[2020-09-10 20:40] MalkyTheKid commented on #1085
Thank you very much!

[2020-09-11 02:01] #1085 closed

[2020-09-11 04:36] shobhitvdb commented on #1074
We do have four options in "Display in Timezone"

- of Viewer
- of Submission
- of Location
- UTC

We have already selected "of Submission", but we are getting the Date 1 day before in the data, and one more thing we have disabled the time from this DateTime field.

Please provide me the further steps.
Thanks

[2020-09-11 10:52] Mfryk85 commented on #1083
Hi,

I'm running the docker version from this repository, 2.0.0-rc.13, do I need to update the renderer separately for the wizard form to work? How would I update this?

[2020-09-12 06:25] ashwinbalaji0811 opened #1087 "Heroku Deploy Button to Try Formio"
Could you provide us with a **Deploy to Heroku** button, so that we can test it before installing in our production servers?

[2020-09-14 15:43] wag110894 commented on #1083
@Mfryk85, Our open-source portal still runs a really old version that is hard to upgrade for end users. We have created a ticket and have added it to our backlog to improve this. For Reference, the ticket number is FOR-2753.

We will let you know once this has been completed.

[2020-09-14 16:11] wag110894 commented on #1074
Hello @shobhitvdb, we are not seeing this issue on our side.

Here is our sandbox that we are using :https://formio.github.io/formio.js/app/sandbox

Load the following sandbox id to the Load Sandbox section: 5f5f95674b131db3da0b14f9 and then hit the load sandbox button. You will see your form appear.

Go to the bottom where the form is being rendered and try selecting a date. You will see to the r

[2020-09-16 18:52] Anne-Anq opened #1090 "POST https://formio.form.io/project url seems to be invalid (invalid alias)"
## Environment
local host, react, javascript, chrome

## Steps to Reproduce
I have the following create project function in my react project

[code]

## Expected behavior
This should create a project

## Observed behavior
I get a 400 Bad Request, with response "Invalid alias"

I am authenticated properly, I am able to get existing projects using GET https://formio.form.io/project/:myProject but po

[2020-09-16 18:55] wag110894 commented on #1090
@Anne-Anq Can you try something other than formio and see if it works?

[2020-09-16 19:15] Anne-Anq commented on #1090
What do you mean something other than formio?

[2020-09-16 19:23] wag110894 commented on #1090
This is due to the fact that we have formio.form.io set up on our side, so you will not be able to use that.

[2020-09-16 19:27] Anne-Anq commented on #1090
So... I don't have access to formio.form.io URL? how do I create a project?

[2020-09-16 19:46] wag110894 commented on #1090
You can go to https://portal.form.io to create an account as well as a project.

[2020-09-16 19:48] Anne-Anq commented on #1090
Yes thank you, I do have an account and projects created from the portal, but my goal is to create a project from the API, is it not possible?
https://documenter.getpostman.com/view/684631/formio-api/2Jvuks#a7ca9883-4ec4-5226-f36c-a6dd0d0727f3

[2020-09-16 20:38] randallknutson commented on #1090
Sorry for all the confusion. Our open source library does not support projects. This is only available on our hosted and enterprise versions.

[2020-09-17 07:44] UmarP19 opened #1091 "Database For two or more Projects"
If we create 2 or more projects with different forms,  we worried if  the data that input in each form will be mix in one database.
is there a way for each data from different form not mix in one data base ?

(Currently our company already purchase enterprise option)

[2020-09-17 08:29] kidatsy commented on #961
I was able to work around this using the following steps. It's a little hacky, but worked for me!

1. Don't use the docker container for the stack/framework (`heroku stack:set heroku-18`).
2. You will be using the regular heroku stack, so add the nodejs buildpack.
3. Heroku pipes in the port it's set up for your app in the `PORT` env variable. So in `server.js`, add the following line: `config.por

[2020-09-17 10:24] tiagoefreitas opened #1092 "Doesn't work with Azure Cosmos MongoDB API"
## Environment
- Hosting type
  - [x ] Local deployment
    - Version: 1.90.12

## Steps to Reproduce
Configure Azure Cosmos Db, open login page.

## Observed behavior

Get an error in the response:
The index path corresponding to the specified order-by item is excluded

Azure Cosmos doesn't support sorting on a field without an index, for performance reasons, but default MongoDB works.

This solv

[2020-09-17 14:30] randallknutson commented on #1091
Our next server version (8.x) will contain per project databases so each project is broken out into separate databases. Unfortunately in the 7.x and below they are all going to be mixed into the same database. They are logically separated since each document has the project id but technically they exist in the same database.

[2020-09-18 03:02] UmarP19 commented on #1091
Thank you for your reply, one more question, if the database logically separated  with project id and we use inquiry function it will not show other data in each for ,  is it correct ?

[2020-09-18 10:42] bohan commented on #961
Hi @kidatsy ,
Thanks for the suggestion, I'll try this out and revert shortly.

[2020-09-18 14:29] randallknutson commented on #1091
Correct. The apis will never return data from a different project in both the current version and the next version. We do a hard filter by project id with all queries.

[2020-09-18 14:57] wag110894 commented on #1092
Hello @tiagoefreitas

Thank you for reaching out! We have created a ticket and have added this to our backlog. We welcome a put request and have a process to expedite if you are interested.

For reference, the ticket number is FOR-2756.

We will let you know once this issue is resolved.

Have a great day!

[2020-09-22 03:13] UmarP19 commented on #1091
Thank you for your reply

[2020-09-22 03:13] #1091 closed

[2020-09-23 05:13] duttonw opened #1094 "[BUG] new stage project stage Read All includes more than Administrator"
## Environment
Please provide as many details as you can:

security through limited privileges should be done
Read All should only have Administrator so that export command does not allow evil users from scraping actions and private keys

- Hosting type
  - [] Form.io
  - [x] Local deployment
    - Version:  Application: 7.0.39-rc.3, Renderer: 4.11.2-rc.4
- Formio.js version:
- Frontend framework:

[2020-09-23 18:01] jhen1422 commented on #1064
@NiteshNagar
This issue should be resolved in formio.js version 4.12.0-rc13 >

[2020-09-23 18:01] #1064 closed

[2020-09-23 18:19] jhen1422 commented on #1068
@NiteshNagar
This issue should be resolved in formio.js 4.12.0-rc19

[2020-09-23 18:19] #1068 closed

[2020-09-24 18:11] phucduong86 commented on #1092
@wag110894
We are also in the process if migrating to CosmosDB and getting the same issue.
I believe we've set it up previously on CosmosDB Mongo API version 3.2 and it works fine.
Can you please confirm if it still works on 3.2 and this issue is with new Cosmos version 3.6?

Thank you

[2020-09-24 22:28] duttonw opened #1097 "[BUG/FEATURE REQ] form.io does not provide post headers (X-Forwarded-For) for user ip from browser submission"
Given a user is on a form.io form
When a user submits a submission payload to the rest api for the form
Then I want to be able to retrieve the X-Forwarded-For header value from the payload to know exactly the ip address of the user and store it as well as include it in my next action hook.

Current work around is to you https://www.ipify.org/ or similar to retrieve the ip address via javascript in

[2020-09-25 05:58] duttonw opened #1098 "[FEATURE REQ] Enhance email action to set reply-to email field"
Given I am sending an email
When the from address is no-reply@server
Then I want to be able to set reply-to email field header to allow quick response from received emails.

The reason for this is to keep within SPF policies. You can't masquerade as another email address in a contact form.
i.e. say a person contacted you and their email address was xyz@gmail.com
you cannot set the form address to

[2020-09-28 14:49] randallknutson commented on #1092
We researched this issue last week to figure out what was going on and the issue is that in CosmosDB with Mongo 3.6 you can't sort on any property that doesn't have an index set. This is different than how mongoDB works since you CAN sort on any property regardless of if there is an index or not.

To fix this, you can add a wildcard index to the following collections:
db.submissions.createIndex( {

[2020-09-28 20:16] wag110894 commented on #1098
Hello @duttonw,

Thank you for reaching out to us with your feature request. We estimate it would take about 4 hours to add this enhancement. Please let us know if you are interested by contacting support@form.io. For reference, the ticket number is FOR-2765.

[2020-09-30 10:15] mikeyjkmo commented on #1009
@travist Any updates on this issue? I saw that a fix to a memory leak on the core renderer was merged. Is that change related to this?

[2020-09-30 14:09] wag110894 commented on #1009
This is still on one of our developer's list. We will let you know once this issue is resolved.

[2020-09-30 16:11] korexus opened #1102 "[Question] - Can templated output be translated?"
## Environment
Please provide as many details as you can:

- Hosting type
  - [] Form.io
  - [X] Local deployment
    - Version: 2.0.0
- Formio.js version: 4.12.0
- Frontend framework: React
- Browser: Any
- Browser version: Any

I have a grid component, with templated header
[code]

I'm looking to translate the form. All of the values of component.label are in the translation file, but they remai

[2020-09-30 20:35] randallknutson commented on #1102
In order for it to be translated it needs to be passed through the t() function. You can do this with {{t(component.label)}}

[2020-09-30 21:31] korexus commented on #1102
Thanks, Randall. Doing that results in the output `t is not defined`. Does it need to be imported somewhere?

I can see ` {{t(component.label)}}` coming down in the JSON response, so presumably something on the front end is attempting to evaluate it?

Sorry if this should be obvious, I've taken the project over from someone else and am still finding my way around!

[2020-10-01 14:31] randallknutson commented on #1102
No problem with the question. It is a good learning question. I thought the t function was available in context but it looks like it is not. Can you try instance.t() instead?

[2020-10-01 15:42] korexus commented on #1102
Perfect! `{{instance.t(component.label)}}` has worked exactly as expected. Thank you!

[2020-10-01 15:42] #1102 closed

[2020-10-02 16:59] wag110894 commented on #1094
Hello @duttonw,

Apologies on the delay.

We are able to replicate this issue and it has been resourced to one of our developers. For reference, the ticket number for this is FOR-2763. We will let you know once this has been resolved.

[2020-10-03 17:50] #1078 closed

[2020-10-05 17:53] wag110894 commented on #1097
Hello @duttonw,

Thank you for your patience. We have created a ticket and have added it to our backlog. We would be happy to provide you with a quote for this platform enhancement to provide you with this functionality.

Please let us know if you are interested and we can get the process started. For reference, the ticket number ids FOR-2782.

[2020-10-06 02:12] twinkle-joseph-aot commented on #687
@gag29 great answer. helped to solve a similar problem with editGrid

[2020-10-06 06:42] pedris11s commented on #363
hi man. did you finally find a way to do that approach ?

[2020-10-06 10:10] UmarP19 opened #1103 "Auto Resize for Upload Picture"
Hi,

Is  there a function in form.io for automatically resize a picture after we use an upload feature  ?

thank you

[2020-10-06 14:42] randallknutson commented on #1103
Images and files are uploaded to third party blob storage like S3 or Azure Blob Storage. Once it is there we don't have any ability to manipulate the file. You can look into this functionality from within the blob storage you choose to modify the file however you'd like.

[2020-10-07 16:23] tillg opened #1105 "Docker compose don't start"
## Environment
Please provide as many details as you can:

- Hosting type
  - [] Form.io
  - [X ] Local deployment
    - Version:
- Formio.js version: commit 41d06e025f77e03e3568f8fb300ba8c688f82e2b
- Frontend framework:
- Browser:
- Browser version:

## Steps to Reproduce
1. git clone
2. cd in dir
3. docker-compose up

## Expected behavior
It runs and you can visit it in the browser.

## Observed

[2020-10-07 16:34] gismomtl commented on #1019
do you have any news on your side ? have you been able to reproduce the issue & any target version in which it will be solved?

[2020-10-07 17:19] wag110894 commented on #1019
Hello @gismomtl,
As I mentioned back on July 13th, we would need to investigate this issue as part of a support package.

[2020-10-07 18:32] phucduong86 opened #1106 "[BUG] CSV Export fails if component inside DataGrid has input masks"
## Environment
Please provide as many details as you can:

- Hosting type
  - [ ] Form.io
  - [x] Local deployment
    - Version: Application: 7.100.0, Renderer: 4.12.0
- Formio.js version: not relevant
- Frontend framework: not relevant
- Browser: any
- Browser version: not relevant

## Steps to Reproduce
1. Create a new form
2. Add a Data Grid component (disable Table View)
3. Drop a Text Field

[2020-10-07 20:44] travist commented on #1105
Try ```npm install``` before running compose up.

[2020-10-07 21:32] wag110894 commented on #1106
Hello @phucduong86,

The Application: 7.100.0 build is for a customer and should not have been latest. The latest should be changed. Can you try and see if the issue is resolved with updating to the new latest?

[2020-10-07 23:53] phucduong86 commented on #1106
Hi Will,

The latest is working fine. Thank you for your response.
Do you usually have a tagged version that is the same as latest? It would make it easier for us to manage the application (so we don't have to retag "latest")

Thank you

[2020-10-08 09:13] 7er opened #1107 "Is storing custom meta data possible in form.io"
In our solution it would be helpful to store a reference to a foreign system in each form definition.

We first tried to add a field to the form schema json and POST/PUT it to the server, but the field was dropped. As of now we shoe-horn the field into the schema by using the tags field. Is there a supported way to store additional meta data in the schema definition and have the form.io server sto

[2020-10-08 09:24] 7er commented on #1107
### Example:

**Custom field that is stored as is (myDomainRef)**

`{
  "myDomainRef": "idFromOtherSystem",
  "_id": "5f4fb3a1c8d63a0003f006bd",
  "type": "form",
  "display": "form",
  "name": "kraKra",
  "title": "KRA KRA",
  "path": "krakra",
  "machineName": "kraKra",
  "components": <elided>
 ....
}
`

**Pre defined field for "yourReference"**

`{
  "yourRefererence": "idFromOtherSystem",
  "

[2020-10-08 13:53] wag110894 commented on #1106
You can check and see the latest version of formio.js here: https://github.com/formio/formio.js/blob/master/Changelog.md.

[2020-10-08 13:53] tillg commented on #1105
Thx. I know I should read the f**g documentation...

[2020-10-08 13:53] #1105 closed

[2020-10-08 14:05] phucduong86 commented on #1106
@wag110894
I am actually looking for the formio-enterprise (portal) container tagged version that match the **formio-enterprise:latest**
Would it be documented somewhere?

Thank you

[2020-10-08 14:12] wag110894 commented on #1106
Thanks for the clarity. The formio enterprise is actually our server that has the portal inside. You can see the server versions (and the version of the portal that it is in the server version) here: https://github.com/formio/formio-server/blob/master/Changelog.md

I hope that this helps.

[2020-10-08 14:32] randallknutson commented on #1107
There is a "metadata" field you can use that it should store it in. This is already populated with some information such as browser information. You can add your information to it as well and it should save just fine.

[2020-10-08 14:55] 7er commented on #1107
Uhm, isnt that the submission rather than the form definition? Or do both have this field

[2020-10-08 15:59] phucduong86 commented on #1106
Hi Will,

I am referring to specific tags on this page https://hub.docker.com/r/formio/formio-enterprise/tags
We manage our server deployment by pulling specific tagged docker image whichever matches the signature of the latest tag.

Unfortunately the release note above does not tell us which docker image tag it corresponds to.

This is not a major issue but does add a step to our process (retag "

[2020-10-08 20:35] randallknutson commented on #1107
That's just the submission. I assumed you were talking about that since only "data" and "metadata" apply to submissions. On forms there is also "settings" and "properties" where you can put anything you want.

[2020-10-09 07:39] 7er commented on #1107
Aha, awesome. That totally solves the problem!

[2020-10-09 07:39] #1107 closed

[2020-10-09 11:21] sdancer75 commented on #176
Can I only delete/edit a specific document inside the mongodb instead of drop the whole database?

[2020-10-11 13:46] joshua60 opened #1109 "Is the multiple language supported for its formio label?"
I could not find the multiple language label when editing the form on the demo system.
If someone could tell the following info, that will be thankful.
- Is there any internationalization and localization features be planed implementing in the near future?
- any functional spec. is initialized ?

[2020-10-12 14:28] randallknutson commented on #1109
We use the i18n module to translate all strings within forms. While there is no UI for doing this in the form.io portal yet, you can easily do this when embedding forms. You can see an example here: http://formio.github.io/formio.js/app/examples/language.html

[2020-10-13 03:43] mujtaba1016 commented on #115
For Form Builder we can Pre-Populating data by

[code]

For CreateForm we can Pre-Populating data by

[code]

[2020-10-13 18:25] phucduong86 opened #1110 "[BUG] In form preview mode, interpolated values in HTML Component does not display"
## Environment
Please provide as many details as you can:

- Hosting type
  - [ ] Form.io
  - [x] Local deployment
    - Version: Application: 7.0.40, Renderer: 4.11.3
    - from /status:
[code]

- Formio.js version: no relevant
- Frontend framework: not relevant
- Browser: Chrome
- Browser version: 85

## Steps to Reproduce
1. Create a new form
2. Drop in a HTML Component with "div" Html tag and

[2020-10-13 20:03] wag110894 commented on #1110
Hello @phucduong86,

Thanks for reaching out!

We are not seeing this on our production portal which is using version Application: 7.0.41, Renderer: 4.12.0.  Here is a screenshot of it working: https://share.getcloudapp.com/qGuvldz7

I hope that this helps.

[2020-10-14 14:27] rcermeno commented on #1087
For now, you can dockerize it and deploy it manually in a heroku dyno, this has worked perfectly for me.

[2020-10-18 18:20] NeoTheThird commented on #591
Any chance we could get an official docker image on the hub? The [formio](https://hub.docker.com/u/formio) organization would be a good place, and it'd make the docker-compose file a little more durable and flexible.

[2020-10-19 00:02] PhilLincolnQLD commented on #1097
Thanks @wag110894 , I'm the Product Manager for our form.io implementation. Would you please arrange the quote for this work.

[2020-10-19 14:41] travist commented on #591
The "official" build from Form.io is our enterprise docker container which is our Enterprise solution (paid). We do not have plans for adding the Open Source api server as a docker image, so we are appreciative of community members like @airarrazaval who offer it to the community and also maintain it.

[2020-10-19 14:41] #591 closed

[2020-10-21 06:06] geekeren opened #1112 "MongoDB password leak risk"
Is there any other option to set the mongo DB password instead of inserting it in dbUrl like:
[code]
the password will be leaked when logging the dbUrl

https://github.com/formio/formio/blob/509d9e80675633131b234ff8bf316b97e35255a8/src/db/index.js#L226

[2020-10-25 04:12] Crdzbird commented on #1024
Sorry to interrupt @travist recentlyi was working on a custom flutter plugin to render all the data from the json generated from formio.js, right now is working for all the platforms. it'll be great if this plugin can gave that extra support :)

[2020-10-30 16:00] airarrazaval opened #1124 "[Question] Form.io benchmarks"
Hi, I was wondering if there is any available benchmark for local deployment of Form.io.  Mainly the following:

1. API limits (get - post - put - delete requests per second)
2. Submissions limits (total submissions and max size per submission)

I am really interested in the submissions' limit because of the nature of form.io submissions.  When deleting a submission the the mongodb document is mar

[2020-10-30 16:03] airarrazaval commented on #1110
@wag110894 you are missing the closing curly brackets on the HTML content.

[2020-10-30 16:41] wag110894 commented on #1110
@airarrazaval,

I just copied and pasted what was above. I did retest this and it is working correctly with the closing curly brackets on the Use tab.
Here is a new video:  https://share.getcloudapp.com/L1uQyQPA

[2020-11-02 15:58] travist commented on #1124
1.) API Limits are mainly dependent on the deployment size of the database. You will also be able to find better metrics for this looking at the database get, put, post, delete metrics since the Form.io server is pretty close to the metal in terms of execution of queries.

2.) Same answer as above. The Form.io server does not implement its own restrictions other than what MongoDB implements.

As f

[2020-11-03 08:13] lazatin1323 opened #1125 "[QUESTION] Custom Component Minimal EditForm"
Hi,

I'm trying to create a custom component. I was trying to populate a Select dropdown on minimalEditForm via API. The APi is returning the desired response but the options is not being populated. I'm not sure if there's something wrong with the code but i want to ask if it's even possible in the first place.

![image](https://user-images.githubusercontent.com/73876590/97961968-ab0a1d00-1dcd-11e

[2020-11-03 16:21] travist commented on #1125
The ```minimalEditForm``` should be a function that returns the JSON of the form like so...

[code]

[2020-11-04 19:45] gdmiller-za opened #1128 "formio API server not running as expected - no port 3001 to connect to"
**Environment**
Please provide as many details as you can:
Hosting type
- Local deployment
- Clean Debian 10 installation
- FormIO Version: master branch

**Steps to reproduce:**
1) Perform a clean Debian 10 installation
-- Image used for install: debian-10.2.0-amd64-netinst.iso
![image](https://user-images.githubusercontent.com/32566712/98159920-0e876e00-1ee6-11eb-8331-27ae4c765f8b.png)
3.	Login

[2020-11-05 16:47] travist commented on #1128
I am not able to reproduce this locally. It is connecting to port 3001 just fine. Anyone else have this problem?

[2020-11-05 17:22] gdmiller-za commented on #1128
Could you perhaps confirm which environment you have tested on?

[2020-11-07 11:53] Brianmantay opened #1132 "[Question] ReCaptcha component"
Hi, I trying to understand how to make good use of the ReCaptcha component. A couple things are not clear.

1) How does form.io support verification server side? I.e. whats to stop someone just firing off requests directly to the submission api and by passing the client side verification? I thought perhaps adding some code to do the verification inside the submission action's "Action Conditions" b

[2020-11-08 12:13] lalitver10 commented on #305
@bobslee Hii I did not able to  find any app/dist/config.js or client/dist/config.js directory. can you please help me where are these both directory
![directory](https://user-images.githubusercontent.com/58241512/98464574-d6d03d00-21e9-11eb-8b32-ca245c408c00.PNG)

[2020-11-08 14:13] bobslee commented on #305
@lalitver10 Unfortunately I can't help you. I don't use/experiment with the Formio platform stack anymore.

[2020-11-09 15:03] travist commented on #1132
1. Our enterprise server has logic to stop the submission if the Recaptcha fails so this is currently supported in Enterprise since this is technically an enterprise feature.
2. The default wizard submit button should work with recaptcha. If it doesn't then this will need to be added to our backlog.

[2020-11-09 21:50] ullas1989 opened #1133 "[Question] Is there a form.io renderer for react native or any mobile?"
Is there a form.io renderer that we can use with react native or any other mobile device?

I have angular app that is using form-io angular package. I am looking into ways how I can add same renderer functionality for mobile.

[2020-11-09 22:33] wag110894 commented on #1133
Hello @ullas1989,

Here you go: https://github.com/formio/react-native-formio

[2020-11-09 22:54] ullas1989 commented on #1133
Hi @wag110894. This is pre alpha release and I don't think anyone has worked on it since 2 years.

[2020-11-10 04:45] nexawo opened #1134 "How to return data in array format"
Hello,

I am using formio and I want to return data in array format like it does in editGrid case. I have created a panel and inside panel I have multiple select boxes but when i submit data it send data in object format. Is ther any way so I can submit that data in array. I don't want to use editGrid

[2020-11-10 21:16] phucduong86 commented on #1110
@wag110894
In the video, I can see the portal version at the bottom ```Application: 7.0.41, Renderer: 4.12.0```
I've downloaded the latest docker image today (formio/formio-enterprise:latest) 2020-11-10 and I'm getting version ```Application: 7.0.40, Renderer: 4.11.3```

[2020-11-10 21:46] phucduong86 commented on #1092
@randallknutson
We actually had to run an additional query to see the Actions panel:
```db.actionitems.createIndex( {"$**": 1 } );```

I just discovered another issue today and not sure if it is related to the Cosmo query as well:

## Step to reproduce:
- Pick any form
- Add a Select component
- On Data tab choose Resource
- Click the dropdown under Resource.

Expected: see a list of resources in

[2020-11-10 21:54] travist commented on #1134
If you wish to have an array of objects, you must either use Edit Grid or Data Grid. If you just need an array of Strings, you can always use the Multiple flag set on TextField components.

[2020-11-11 01:32] fabianedl777 commented on #949
hello guys any progress form this?

[2020-11-11 13:59] wag110894 commented on #949
@fabianedl777, have you tried this using pro.formview.io?

[2020-11-11 14:17] fabianedl777 commented on #949
@wag110894 yes

[2020-11-11 14:31] roflanKisel commented on #1009
#1108

[2020-11-11 15:43] travist commented on #1110
Looks like we do not have a docker image that includes the 7.0.41 portal. We are working on a new build that will be the 4.12.1 renderer so I would just wait for that release. We hope to have that out before the end of next week.

[2020-11-12 10:53] nexawo commented on #1134
I cannot use Edit Grid and multiple Select in my case yeah Datagrid is a option but there is only one problem i.e I want to add Multiple Columne but it add columns from left to write as you can see in fig below
![image](https://user-images.githubusercontent.com/55268813/98930847-08554b00-24ff-11eb-9933-8a0c62106941.png)

Can I add these column from top to bottom format

[2020-11-12 15:32] travist commented on #1092
We are in the process of updating our documentation to mention this, but for those who need this, here is the commands to run to make this work with Form.io.

[code]

[2020-11-12 15:36] travist commented on #949
We can confirm that it works fine using our SAML provider. It should work with OpenID Connect, but we are aware of an issue with OpenID and our https://pro.formview.io application, so that may be what is causing the trouble. Is it possible to switch to Azure AD SAML configuration?

[2020-11-12 15:42] travist commented on #1134
Make it only have a single column for Data Grid, and then in the "columns" component added to that single column, you will configure it to have more than 2 columns (in this case 4). Why does that not work?

[2020-11-12 15:53] phucduong86 commented on #1092
@travist
We have already ran those commands, we actually had to run an additional one to get the Actions log tab to query:
[code]

The Select Component is still an issue after running all 6 commands.
Thank you

[2020-11-13 14:47] travist commented on #1092
Looks like we are adding a limit that is larger than it supports.  We will add this as a fix in our backlog.

[2020-11-15 20:12] fabianedl777 commented on #949
hello @travist

Thank you for your help, at the moment i can't change openid to saml.

[2020-11-16 12:27] nexawo opened #1139 "How to show data in selectbox"
I am using formio select box and in api key I am returning an object data instead of single value so when I get a data it return the object data and I see [object Object] in my select box. Is there a way so I return the object data but in select box it set the key from the object data. You can see the below img as an example

![image](https://user-images.githubusercontent.com/55268813/99252341-9cd

[2020-11-16 14:01] wag110894 commented on #1139
Hello @nexawo can you please provide a JSfiddlfe or a form embed URL so we can investigate. Could you also provide what versions you are running?

[2020-11-16 14:55] travist commented on #949
We have this in our backlog but from looking at where it is located, it seems it may be first quarter 2021 before we can get to it. Of course, it could be paid to expedite if you need it sooner.

[2020-11-17 10:24] nexawo commented on #1139
https://jsfiddle.net/1gs2zxae/
In this fiddle I am passing values in object and get the values in same format but it shows [object Object] instead of text

[2020-11-17 14:07] wag110894 commented on #1139
Hello @nexawo, I am not seeing this issue on the JSfiddle that you provided. Can you provide a video of the issue taking place in the jsfiddle?

[2020-11-17 14:11] wag110894 commented on #1092
@phucduong86 for reference, the ticket number for this item is FOR-2858.

[2020-11-18 00:12] qodrinzo opened #1142 "Problem installing formio/formio"
When doing npm install; even after npm cache clean --force, and removing node_modules and package-lock.json.

Ubuntu server 18.04.5
Ram 1024 MB

Node.js versions 12.x and 14.x tried.
Formio v2.0.0-rc.31 cloned.

[code]

The **complete log** file:
[code]

[2020-11-18 15:58] travist commented on #1142
It is installing fine on my machine (Mac OSX). Anyone else having this issue?

[2020-11-19 20:12] qodrinzo commented on #1142
Seemingly based on my search, it was something about permissions caused by installing nvm on the root account.

[2020-11-19 20:12] #1142 closed

[2020-11-19 20:18] qomhmd opened #1144 "Warning: Accessing non-existent property 'padLevels' of module exports inside circular dependency"
On the first "npm start", the process ceases with this error:

[code]

**$ npm version**:

[2020-11-20 04:21] qomhmd opened #1145 "[Question] Difference between "Edit grid" and "Data grid""
It is not clear to me based on [the documentation](https://help.form.io/userguide/data-components/). Is it not better to provide a comparison table for these two (I think) similar components?

[2020-11-20 06:05] qodrinzo opened #1146 "Calculated value using some field in data-grid in another resource into a field in data-grid"
Having a form like this:
![image](https://user-images.githubusercontent.com/9105400/99764679-d3ef1980-2b12-11eb-9feb-538c8810b648.png)
I want to load some field value (_mydatagrid.key_) of the selected resource (_diagnosis_) in the row [into the next text input](https://help.form.io/userguide/form-components/#calculated-value). Providing text field' calculated value with the phrase `value = row.di

[2020-11-20 08:35] qodrinzo commented on #1145
https://formio.github.io/formio.js/app/examples/editgrid.html

[2020-11-20 14:31] wag110894 commented on #1146
Hello @qodrinzo, can you provide a form embed or a JSfiddle so that we can replicate this setup?

[2020-11-20 17:18] qodrinzo commented on #1146
Hi. The session expires repeatedly just now and doesn't allow me to provide you with the code! But I succeeded using JSON.stringify() to see the structure of the object selected in the first field.

`value = row['diagnosis'].**data**.prevalence[0].quantity` which equals to `row[resource_component_key].data.remote_datagrid_key[row_number_from_zero].field_key`.

[2020-11-20 22:10] travist commented on #1144
Will you add --trace-warnings so we can see where this warning was added?

[2020-11-20 22:12] travist commented on #1146
So this is now resolved?

[2020-11-21 03:03] qodrinzo commented on #1146
Yes, for now.

[2020-11-21 03:03] #1146 closed

[2020-11-21 09:17] qodrinzo commented on #127
It seems to me, that clicking on the title of the last being-edited-while-session-expired form (or something similar), causes this repeated logging out. In the situation, other forms opens successfully and also the aforementioned form can be accessed through the "Edit" button next to its title.

[2020-11-22 08:18] qomhmd opened #1147 "Prefilling datagrid on the opensource Formio"
Hi. Is there any way to do pre-filling data grid for some rows on the platform? The links below are related to formio.js.

http://formio.github.io/formio.js/app/examples/datagrid.html
https://github.com/formio/formio.js/issues/141

[2020-11-22 09:21] qomhmd opened #1148 ""Calculated value" if a condition meet"
Hello. I want to calculate values of the disabled inputs (eg, _spec_calc_) if and only if their editable twins (eg, _spec_) are empty. Such a value is calculated using the values of the other filled inputs (eg, _sens_ and _nLR_).

But the values are not calculated until the related twin once becomes filled and then cleared; maybe the required additional event listeners are not created automaticall

[2020-11-24 17:12] wag110894 commented on #1148
Hello @qodrinzo,

We do offer Support Packages that are for training, support or development services. The hours can be used in one-hour increments at your convenience over a 90 day period. We will assign one of our senior developers to work directly with you in online sessions. Please let me know if you are interested and I can provide you our Support Package Options.

[2020-11-24 18:15] qodrinzo commented on #1148
Sorry to inconvenience @wag110894. Interested in that, thanks.

[2020-11-24 18:44] wag110894 commented on #1148
Contact support@form.io and we will send it over to you via email.

[2020-11-26 07:51] glenncastle opened #1151 "Create Table Form"
Hi,
We are attempting to use Formio to create tables with predefined steps and haven't managed to achieve the desired result at this point.

The Form needs to be built to contain:
- Table with multiple columns (3-6). Columns as an example will contain: Row Number (Auto), Steps, Checkbox, Text for comments
- Table with multiple rows (can range from a few to a hundred or so). The rows will have pred

[2020-11-27 15:56] Crdzbird opened #1153 "."

[2020-11-27 16:44] denisekay commented on #1153
Thank you!  We appreciate it and will check out your contribution.

       *Denise Kay*
       2121 N Pearl
       Dallas TX
       817-657-0210

*Form.io - CIO Applications Magazine API Edition - Cover Article November
2020
<https://drive.google.com/file/d/12X9aee3f_i2MckELXhG_lqXcL-g66jod/view?usp=sharing>
*

On Fri, Nov 27, 2020 at 9:56 AM Luis Cardoza Bird <notifications@github.com>
wrote:

[2020-11-30 04:27] DanielTurner opened #1155 "[BUG] Address component uses incorrect Google API"
## Environment
Enterprise version: Application: 7.0.39-rc.3, Renderer: 4.11.2-rc.4

## Expected behavior
Formio address component to use correct google api.

## Observed behavior
Formio address component uses incorrect google api

## Example
The formio address component uses the Geocoding API which is a  backend webservice by Google. It can only be restricted by IP address since it assumes its a s

[2020-11-30 11:38] frankie-eric opened #1156 "[BUG] Server throws 'Error: cyclic dependency detected' when calling Webhook action"
## Environment
Please provide as many details as you can:

- Hosting type
  - [ ] Form.io
  - [x] Local deployment
    - Version:
- Formio.js version: v2.0.0-rc.34
- Frontend framework: running formio using docker-compose
- Browser: Chrome
- Browser version: 86.0.4240.198 (Official Build) (x86_64)

## Steps to Reproduce
1. Clone https://github.com/formio/formio to local, run `npm install` and then

[2020-11-30 15:09] travist commented on #1155
This is currently being fixed and will most likely be resolved in the 4.13.x release. We are switching to using the Google Autocomplete API.

[2020-11-30 22:17] wag110894 commented on #1156
Hello @frankie-eric,
Thanks for reaching out!
We have created a ticket and have added it to our backlog. We welcome a pull request. We also have a process to expedite the fix as well. For reference, the ticket number is FOR-2888.

We will let you know once this issue has been resolved.

[2020-12-03 00:20] DanielTurner commented on #1155
@travist Thank you for your response, do you have a release schedule for the 4.13.x release?

[2020-12-03 15:22] travist commented on #1155
We are still working on 4.12.2 release, which we hope to have released by next week. 4.13.x is a much larger release and based on historical velocity on this kind of thing, you are looking at 4 weeks after that so that puts us at the end of January.

[2020-12-07 14:53] travist commented on #1151
Seems like the closest way to achieve what you want is to create your own custom component that extends the Table component to introduce a Header row as well as "reordering". We do provide building custom components as a service, so let us know if you would like some help developing such feature.

[2020-12-10 22:01] jhen1422 commented on #1054
This issue should be resolved in formio.js 4.12.1

[2020-12-10 22:01] #1054 closed

[2020-12-17 06:57] shujathkhan commented on #675
@travist Any update on the per-page basis control with panel component?

@nowickimt It would be much appreciated, if you could explain the alternate way.
As it's becoming a major blocker for myself. :)

[2020-12-17 22:00] travist commented on #675
I don't see this becoming a priority on our end. If you need it badly, then we do have a way to pay to expedite an item. Let us know if you want to go that route. Otherwise, you will need to see if anyone from the community can help here.

[2020-12-18 14:01] sdancer75 opened #1166 "I can not login. Error "User or password was incorrect""
This is the 2nd time in the last 4 months that I can not log in to any user account.

Is that a bug? Probably. I read somewhere back in the issue history, that this strange behavior was frist reported in 2017.

I run a local copy of the project and I have full access to anything.

I found the user accounts under "submissions" collections inside the MongoDB and I tested my hashed account password w

[2020-12-18 15:04] travist commented on #1166
Verify that the Login Action is pointed to your resource as the resource for login.

[2020-12-18 15:17] sdancer75 commented on #1166
thanx, that is what i am doing now.

[2020-12-18 16:03] sdancer75 commented on #1166
Ok fixed. You had right. After I changed directly in the mongodb the **Login Action** to the **Admin Resource**, it worked. Maybe after my API experiments with the postman changed that.

Thanx anyway!

:-)

[code]

[2020-12-18 16:03] #1166 closed

[2020-12-25 06:34] arrowwind opened #1170 "[BUG] SELECT Widget HTML5"
## Environment
For the select component, set the widget to HTML5, there is a blank option, which is created by default. But for ChoiceJS this is right.

- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version: 4.12.4
- Formio.js version:
- Frontend framework:
- Browser: Chrome
- Browser version:

## Steps to Reproduce
1. Drag the select component
2. Set the widget to HTML5
3. Set the

[2020-12-28 14:44] travist commented on #1170
The blank item is expected so that the HTML widget will behave similar to the Choices.js widget where if no items are selected, it will not show any items. The issue arises if you do not have the blank, it will default the "first" item to appear selected.

[2020-12-28 14:44] #1170 closed

[2020-12-29 00:26] kokokenada opened #1172 "onChange does not provide updated form if form is Wizard"
## Environment
Please provide as many details as you can:

- Hosting type
  - [X] Local deployment
- Formio.js version: 4.12.1
- Frontend framework: React
- Browser:
- Browser version:

## Steps to Reproduce
1. Use form builder like:  <FormBuilder form={formApi.formSchema} onChange={formApi.setFormSchema} options={builderOptions} />
2. Make a change to a form
3. If the form not a wizard, the updat

[2020-12-29 03:54] arrowwind commented on #1170
Thank you for your reply. If there is no items to show, it should be a blank item. But the behave is not like you said.

Right now, if the defaultvalue is set, there are three dropdown items. The blank item should not show.
If the the defaultvalue is not set, the blank item is selected. It should be "apple" to show. For the 'apple' is the first one.

  {
  "label": "Select",
  "widget": "html5",

[2020-12-29 07:15] arrowwind commented on #1170
That blank item is the placeholder...

[2020-12-29 07:18] nacool opened #1173 "form-io use one field value in other dynamically"
I have a basic form-io form here. One text box and other file upload control. For file upload I am using API URL. I want to pass the "AttachmentID" text box value to the file API URL. I couldn't get it to work. Tried using {{data.AttachmentID}} in the file URL but its not getting value. When the document gets uploaded, the URL should change as per the attachment id text box. Is it possible?

Basic

[2020-12-29 07:19] nacool commented on #1173
I tried setting refresh property for file upload control to AttachmentId field. But still no luck.

[2020-12-29 07:23] arrowwind commented on #1170
That blank item is the placeholder which is set "". If the placeholder is none empty the blank item will not show.

[2020-12-29 15:57] kokokenada commented on #1172
Looks like this was caused by some changes we made. Closing issue

[2020-12-29 15:57] #1172 closed

[2021-01-06 16:13] #884 closed

[2021-01-11 20:40] jhen1422 commented on #1092
This should be resolved in the latest 7.0.0 version of our server

[2021-01-11 20:40] #1092 closed

[2021-01-20 09:20] AgileFlex opened #1189 "[BUG] React Form.io Bug on User Guide URL"
## Environment
Please provide as many details as you can:

The User Guide URL for each FormBuilder is relative to the localhost or project's live url.

React packages installed:

- "@formio/bootstrap3": "2.6.8"
- "react-formio": "^4.3.0"
- "formiojs": "4.12.1"
- "react-redux": "^7.2.0"
- "react-router": "^5.1.2"
- "redux": "^4.0.5"
- "redux-thunk": "^2.3.0"

- Hosting type
  - [x] Form.io
  - [x]

[2021-01-22 19:48] wag110894 commented on #1189
Hello @AgileFlexAgency,

Thanks for reaching out and providing use a reproducible case. We have created a ticket and have added this to our backlog. For reference, the ticket number is FIO-1227.

We will let you know once this issue is resolved.

We welcome a pull request and we also have an option to expedite the issue if you are interested.

We will let you know once this issue is resolved.

Tha

[2021-02-01 11:52] sdancer75 opened #1196 "Create new Role"
Hi,

I have created new roles using Form.io API, but I am wondering if there is another way to create or edit roles using an external JSON file or GUI?

Inside  a form.io's resource and under the tab "Access" it says:

"_User Permissions allow you to control who can create, view, and modify form submissions. Here you may assign Project Roles to permissions. Roles can be created and edited in the *

[2021-02-01 13:07] sdancer75 opened #1197 "API "join" resources"
Looking at the "POST Create EmployeeDepartment Resource Example" at

https://documenter.getpostman.com/view/684631/formio-api/2Jvuks#94745ed5-6fc5-4bbc-94cc-db6e44044f73

I am wondering, how the resource references ``{{employeeResourceId}}`` and ``{{departmentResourceId}}`` can be found? It worked for the 1st but it failed for the 2nd. Where these variables are referencing inside the MongoDB?

[co

[2021-02-01 15:43] travist commented on #1196
For the Open source server, these are created during the installation process (which is where the "default.json" file is used). If you need more roles, then these will need to be added before an installation occurs. Dynamic role creating is something that we have in our enterprise server, but not currently in open source. It may be possible to do it using the API's though.

[2021-02-01 15:45] travist commented on #1197
The reference should be an ID of the resource which can be found within the db.forms collection.

[2021-02-02 07:44] sdancer75 commented on #1196
thank you but inside the config/default.json there is nothing related to the pre-defined roles. So, how can I do it using the default.json?

[code]

[2021-02-02 07:54] sdancer75 commented on #1197
So, do I have to replace the ``{{employeeResourceId}}`` and ``{{departmentResourceId}}`` with the actual ID hash of the resource manually by opening the MongoDB and copy/paste the code?

[2021-02-03 14:52] travist commented on #1196
I believe it creates a project based on a template, using the default https://github.com/formio/formio/blob/master/src/templates/default.json#L6.

when you install the open source, you are given the ability to use a different template. This is where you would provide some additional roles to be installed.

[2021-02-03 14:57] travist commented on #1197
The template import process should automatically inject these ID's when you import this template into a new deployment. If it doesn't then this is a bug. You should not have to manually change these values in the database.

[2021-02-03 20:32] sdancer75 commented on #1197
Hi,

I am a little bit confused.

These IDs are just variable names or alias that correspondes  to actual resource IDs right? The API just translate them to actual ID hashes on the fly.

I can easily find the resource IDs looking directly inside the mongodb, but how can I know the corresponding variable name of a specific resource to build the json body for the API call? Is there any name conventi

[2021-02-04 12:36] sdancer75 commented on #1196
thanks very helpful!

[2021-02-04 12:36] #1196 closed

[2021-02-05 15:31] travist commented on #1197
The variable name is the Property name of the fields that  you drag into the join resource. Maybe this documentation (still not finished) will help in understanding how this works?

https://form-io.gitbook.io/help/userguide/roles-and-permissions#creating-a-join-resource

[2021-02-08 08:27] sdancer75 commented on #1197
Thank you,

Remember that there is not any GUI in the API calls. There exist only RerourceIDs with all properties of the specific resource. Anyway, I will experiment with that, I suppose internally the API decodes the variable name combining something like the machine name with the suffix `ResourceId`. Anyway, I believe the documentation must be enriched to make our lives easier.

Best Regards,

[2021-02-08 08:27] #1197 closed

[2021-02-11 10:36] sdancer75 opened #1202 "SSL Setup (https) in custom Load Balancer Servers"
Hi,

The documentation https://help.form.io/developer/onpremise/  describes the case when there are no load balancer servers with the appropriate Nginx settings. As you can see it uses a `proxy_pass ` to _localhost_ ie `http://localhost:3000`. Does not describe the case when the formio is under its own SSL server ie port 3000. Should I replicate the nginx script? ie

[code]

[2021-02-11 15:18] travist commented on #1202
This looks like the correct approach. This is more of an NGINX question, though, instead of a Form.io question.

[2021-02-11 15:59] sdancer75 commented on #1202
thanks

[2021-02-11 15:59] #1202 closed

[2021-02-19 10:59] kcleong opened #1207 "[BUG] Docker container fails to build"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version:
- Formio.js version: latest `master` on commit hash `1aa8f93323d92899373baaf8682cd29226040cc8`
- Frontend framework:  node v12.9.1
- Browser: N/A
- Browser version: N/A
- Docker version: version 20.10.2, build 2291f61

## Steps to Reproduce
Build formio docker container

[2021-02-19 11:01] kcleong commented on #1207
It seems the fix provided by @mjhm in https://github.com/formio/formio/pull/1205 works:

[code]

[2021-02-23 10:07] #605 closed

[2021-03-02 09:34] ghost opened #1211 "[BUG]"
I have a basic form here.

![image](https://user-images.githubusercontent.com/58280615/109626523-38d6f880-7b73-11eb-99cc-1d64590d55af.png)

I add the Select Component with **Multiple Values** and I add valid = 'failed' in Validation tab -> Custom validation
![image](https://user-images.githubusercontent.com/58280615/109627725-7f792280-7b74-11eb-8ed7-5b238471fa9d.png)

However, **Submission Complet

[2021-03-08 08:44] shvamabps commented on #723
npm WARN deprecated fsevents@2.0.6: "Please update to latest v2.3 or v2.2"
npm WARN deprecated fsevents@1.2.13: fsevents 1 will break on node v14+ and could be using insecure binaries. Upgrade to fsevents 2.

node-pre-gyp ERR! install response status 404 Not Found on https://github.com/kelektiv/node.bcrypt.js/releases/download/v5.0.1/bcrypt_lib-v5.0.1-napi-v3-linux-x64-glibc.tar.gz
node-pre-gyp WA

[2021-03-13 19:02] franke-mc opened #1220 "Content-Range: header should conform to RFC7233, Section 4.2"
https://example.form.io/company/submission
replies with the following header, among others:
[code]
This appears to violate https://tools.ietf.org/html/rfc7233#section-4.2
Probably, instead it should be:
[code]
(For more background, see https://savannah.gnu.org/bugs/?60106#comment5 .)

[2021-03-15 14:24] travist commented on #1220
Thanks for the report. We will take a look.

[2021-03-15 14:39] wag110894 commented on #1220
For reference, the ticket is FIO-2552.

[2021-03-22 13:59] ALLAOUI-DSI opened #1223 "[Question] Skip validation on the server side when state is set to draft"
Hello,
I am trying to save a submission as a draft, the form contains a button with the action `save in state` that I set to `draft`. When clicked the form is actually submitted without validation on the client side. However, the server returns an error (`400 bad request`) stating that the submission is invalid (e.g.: a field a required). So is it possible to skip this validation on the server sid

[2021-03-23 11:24] maulik-modi commented on #950
@travist or @randallknutson , If we are hosting this for internal users protected by Azure AD, Is it okay if we provide a link in footer saying - Powered by Form.io or we need to do something else? We are not bundling/distributing for commercial use.

[2021-03-26 15:31] wag110894 commented on #1223
Hello @ALLAOUI-DSI, can you provide a form so we can replicate the issue on our side?

[2021-03-29 08:10] ALLAOUI-DSI commented on #1223
Hi @wag110894 , thank you for your reply.
Here is an example of a form that has a required field, the client skips the validation on save as draft action but fails on the server side:
[code]
By the way I recently found [this ](https://github.com/formio/formio.js/issues/1223#issuecomment-531825893) so it might be the answer..I hope there is a workaround. Cheers.

[2021-03-30 08:13] chetlrohith97 opened #1227 "[Question] How to display the form fields of an particular form based on the role login, finally where admin need to access all the fields?"
## Environment
Here we got in a requirement where we want to display form fields of an particular form based on the role while login

1)using the user/register page we have created 3 different users
2) Using admin we have created form as TestRole  with 20 fields,
3) Now trying to login with one of the created user as user1 and now trying to access the form, now we are trying to display a few field

[2021-03-31 06:12] dVp007 commented on #790
Any updates in this issue?

[2021-04-01 14:44] ccontour commented on #790
Can you attach an exported form that our test team can use to replicate your issue? That will help us make sure this gets resolved more quickly. You can also send it into support and link this issue if you would like to keep it private

[2021-04-01 14:48] ccontour commented on #790
Closing issue, this is from 2019 and is against version 2 of formio.js which is no longer supported

[2021-04-01 14:48] #790 closed

[2021-04-01 15:56] wag110894 commented on #1223
I am not able to replicate this issue on Renderer v4.13.0-rc.25 using https://formio.github.io/formio.js/app/sandbox sandbox ID: 6065ed0cc488684c39f1d700)

[2021-04-02 10:41] sdancer75 opened #1230 "user exists API call, returns HTTP/1.1 401 Unauthorized"
I am running my services under docker.

Running the API call  ` curl -i http://localhost:3001/user/login` I get success

[code]

Running the API call `curl -i http://localhost:3001/user/exists?data.email=user@yahoo.gr` I get `HTTP/1.1 401 Unauthorized`

[code]

What seems to be the problem here?

[2021-04-02 11:20] #950 closed

[2021-04-02 12:04] sdancer75 commented on #1230
Problem solved.

Newer versions of formio need authentication for these calling APIs while older ones didn't.

[2021-04-02 12:04] #1230 closed

[2021-04-05 07:59] ALLAOUI-DSI commented on #1223
Thank you for your reply.
I don't know how the sandbox works, but it seems that it doesn't send the form data to the server. In my case the issue arises when the data is sent to the server. It gets validated even if I send it as a draft.

[2021-04-05 13:57] wag110894 commented on #1223
What version are you experiencing this issue on?

[2021-04-05 14:02] ALLAOUI-DSI commented on #1223
Server : `2.1.0-rc.10`
@formio/angular : `5.0.3-rc.2`
formiojs: `4.12.7`

[2021-04-05 19:59] wag110894 commented on #1223
Can you confirm that version of the server?

[2021-04-06 14:43] ALLAOUI-DSI commented on #1223
Hi, check this repository I made:
https://github.com/ALLAOUI-DSI/formio_server_validation
Create a form like the one above, set the path to `validationskip`. Verify that `http://localhost:3001/validationskip` is returning the form. Then go to `http://localhost:4200` and save a draft with the required dummy input field empty.

[2021-04-07 05:55] gag29 commented on #1026
can we achieve this now ? @cmcortez

[2021-04-07 12:27] therabreal opened #1232 "Question: custom logic : fire sequence of events / trigger sequence of logics"
Hi,

Is it possible to, from javascript e.g. in custom action, sequentially trigger custom logic on multiple components (and wait for each to complete before continuing?

Idea is to automate multiple steps/stages which can be triggered one after another.

Currently we created buttons firing events for each stage. In a custom action - using jquery - we find the <button> html element within the form

[2021-04-07 14:02] wag110894 commented on #1026
This item is still on our backlog. We will let you know once it will be available.

[2021-04-07 14:25] edwinanciani commented on #1223
Hi @ALLAOUI-DSI to skip validation in the server the submission object should have a state property with the value set to "draft" .   submission = {data:{},state:"draft"};  . where is this submission saved? to a resource? if so, check the resource validations.

[2021-04-08 10:40] antonioluzzi commented on #1147
Hi, I m new to form.io.
I'm using form builder, but I don't find the way how to prefill the Datagrid component with remote Rest Service.
Can someone help me?
Regards
Antonio

[2021-04-14 14:29] lousyd opened #1234 "[BUG] "User or password was incorrect" on absolutely fresh install"
## Environment
I did:
$ git clone https://github.com/formio/formio.git
$ cd formio
$ npm install
$ npm start
  prompt: Are you sure you wish to install? (y/N):  y
  prompt: Local file path or just press Enter for default.:  (client) <Enter>
  prompt: Enter your email address for the root account.:  <myemailaddress>
  prompt: Enter your password for the root account.: <apassword>

Install successfu

[2021-04-16 14:26] ccontour commented on #1234
Did a fresh clone locally (latest master as of right now), and did not experience this issue. It is likely something specific to your environment with the issue being formio/formio not working with the database as expected instead of a browser issue. Details about your OS and method of installing the database would be more helpful here I believe

Things potentially worth trying:

- Try a simple pa

[2021-04-26 06:18] virenderAttri opened #1238 "[BUG]"
I took a clone from formio git to test, but when I am trying to run with npm start I got this error and I already set useUnifiedTopology: true but I am still facing same issue so please help me as you can because I am new in this technology

[MONGODB DRIVER] Warning: Current Server Discovery and Monitoring engine is deprecated, and will be removed in a future version. To use the new Server Discove

[2021-04-26 14:26] ccontour commented on #1238
We are aware of the warning being emitted. Is this warning causing any specific issues for you?

[2021-04-28 09:47] babyrace87 opened #1241 "Unable to install form.io via NPM"
Hi all, I'm trying to install forms.io in my machine but I'm stucked at this error.

Already installed Node.js & mongo DB.

Any ideas on how to solve this? :(

![image](https://user-images.githubusercontent.com/35227980/116383715-b18fc380-a849-11eb-9fd3-5b202d6bfd65.png)

[2021-04-28 14:22] edwinanciani commented on #1232
You can add Events to a Button Component changing the actions to event  and Listen those events in the Logic Tab of a components settings. Also you can listen these events in the app level because it seems what you want to do is something that it has to be in the app code.

[2021-04-28 14:34] edwinanciani commented on #1147
Can you add more information on what is the issue that you are experiencing? To add data in a Data Grid Component you just need to set a Default Value or Calculate Value in the component (Array). Also you can do it in the Submission JSON adding data to the data grid property for example:
DataGrid Property name is myList.
[code]

[2021-04-28 14:59] ccontour commented on #1241
Cannot replicate issue on a fresh machine -

I'd start with removing node_modules, and trying again. If that fails, try installing the node modules using yarn instead of npm

[2021-04-29 02:00] babyrace87 commented on #1241
Nice. Yarn works! Thank you so much. :)

[2021-04-29 02:00] #1241 closed

[2021-04-29 10:50] virenderAttri commented on #1238
@ccontour Yes this is the full error with this warning

F:\SmartSearchX\FormIO-Clone\formio\node_modules\mongodb\lib\utils.js:691
          throw error;
          ^

Error: Could not connect to the given Database for server updates: mongodb://localhost:27017/formioapp.
    at F:\SmartSearchX\FormIO-Clone\formio\src\db\index.js:253:17
    at unlock (F:\SmartSearchX\FormIO-Clone\formio\src\db\index.

[2021-04-30 20:57] fvillarrealp opened #1242 "[BUG] Sending Emails"
Good evening form.io team.

Theres any way to send emails from the open source version?

Thank you so much.

[2021-05-04 13:17] Vinaythakoor04 opened #1244 "[BUG] (.) in form field key creates wrong submission data after submit"
## Environment
If I create formio form field with (.) in the key of the field when I submit a form, the key break after (.) and creates a new object results in wrong submission data.

- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version:
- Formio.js version: 4.13.0
- Browser: Chrome

## Steps to Reproduce
1. Add a text field in the form builder
2. Add (.) in key
3. Submit form

##

[2021-05-05 14:29] ccontour commented on #1238
That error is saying it cannot talk to mongo. Can you verify mongo is properly running in your machine?

You should be able to use a tool like [Robo 3T](https://robomongo.org/download) to connect to localhost to connect and verify the setup

[2021-05-05 19:30] rickjohnson22 commented on #577
I have this same issue. I logged out of the newest platform,  next.form.io,  and logged into the old platform, platform.form.io, and I was able to see all my data.

Of course, you should see your submission data on the Next platform, but this is a simple workaround until they get that bug fixed.

[2021-05-05 22:02] anumolu111 opened #1246 "[BUG] : issue with nested form in local environment"
## Environment
Application is developed using formio editor that is set up in the local project.

- Hosting type
  - [] Form.io
  - [x] Local deployment
    - Version: 4.12 .0
- Formio.js version:
- Frontend framework:
- Browser: chrome
- Browser version:

## Steps to Reproduce
1. In a  local deployment, I was trying to use nestedform, but could not add that component to form. Form field of nested

[2021-05-05 22:10] anumolu111 commented on #1241
I have encountered the exact issue while trying to run npm from cmd.
however, when I executed npm from gitbash, module installation was successful.

I guess the issue could be due to git not being set in the path variable that is referred by your cmd or terminal.

[2021-05-06 13:47] BKenny11 opened #1247 "[BUG] issue with @formio/react"
## Steps to Reproduce
1. Installed npm packages
2. Include either Form or FormBuilder in project
3. get an error on building

Failed to Compile:
./node_modules/@formio/react/lib/components/ReactComponent.js
Module not found: Can't resolve '@formio/core/lib/components/_classes/field/Field'

[2021-05-06 20:45] ccontour commented on #1246
Can you provide example code to demonstrate the issue?

[2021-05-10 07:55] dknangia opened #1249 "[Question] : How to access and set value of controls in DataGrid?"
I am using Angular 11 and I have a requirement under which, there will be a dropdown that will call an API based on the selected option of it, and then after getting the response (there could be multiple rows in response e.g. JSON),  I need to populate data in DataGrid controls e.g. textbox, checkboxes, and dropdown controls. I am not able to get reference to the controls in Datagrid e.g. if I try

[2021-05-12 12:13] #1238 closed

[2021-05-12 13:59] peterhall-agrimetrics opened #1251 "[BUG] Very slow to submit forms with nested EditGrids and conditional visibility"
## Environment
Please provide as many details as you can:

- Hosting type
  - [] Form.io
  - [x] Local deployment
    - Version:

## Steps to Reproduce
1. Create a form with one hidden component and an EditGrid
2. Within the EditGrid, create multiple EditGrids (eg 5) and give them conditional visibility based on the hidden component
3. Post a form submission with multiple (eg 6) rows at the top le

[2021-05-12 14:10] peterhall-agrimetrics commented on #1251
As an additional note, the example I have given above is a simplified one, for the sake of reproducibility and client confidentiality. The example we are encountering in our real-world application is far more severe - the top level EditGrid also contains additional components (approx 20 to 30). A user tried to post a submission with 8 records in the outer EditGrid (and, as above, 4 of the inner Ed

[2021-05-13 09:10] AlexeyDavyd commented on #1249
Try calling redraw method on form instance.
That helped me:
![image](https://user-images.githubusercontent.com/47381348/118104734-2d5e4400-b3e4-11eb-8278-3762478a18bc.png)

[2021-05-13 11:03] AlexeyDavyd commented on #1247
@BKenny11 Could you please specify versions used.
And attach code snippet that causing failure.

[2021-05-13 13:52] VennilaCity commented on #953
@jhen1422 Any update on this?

[2021-05-14 11:36] peterhall-agrimetrics commented on #1251
I have looked into this further and found that the performance issue is not directly related to the inner EditGrids, but appears when using "Advanced" conditional instead of "Simple" within an EditGrid. I have attached form specs files for a form that we created for testing. One uses simple conditional logic for the inner components, the other uses advanced, but the test they are performing are id

[2021-05-14 16:01] peterhall-agrimetrics commented on #1251
We have discovered a workaround, which is to not use advanced conditional logic, and instead create a new hidden component for storing the value of a calculation, which can be used as the subject of a simple conditional logic test. This seems to run without any performance problem on the backend.

[2021-05-17 11:15] boltonto opened #1252 "[Help Needed] Struggling to get docker container to work via instructions"
Hi,

I've followed the readme to get the docker container up and running, but it looks like form.io gets stuck in a loop attempting to connect to MongoDB.

Here's the output:

_formio_1  |   formio:db Lock engaged +6ms
formio_1  | Checking for db schema updates.
formio_1  |   formio:db Current database (3.1.4) and Pending code sversions (3.1.4) are the same. +3ms
formio_1  |  > No updates found.
f

[2021-05-19 00:45] PersonalDom commented on #1252
I'm getting the same issue.

[2021-05-19 13:13] travist commented on #1252
This is a known issue we are looking into. For now use a tagged version.

[2021-05-19 15:09] travist commented on #1252
I just found the problem and pushed up the fix to "master" branch. Will create a new RC release very soon with the fix.

[2021-05-19 15:09] #1252 closed

[2021-05-20 05:28] anumolu111 commented on #1246
Thanks for looking into the issue. Below should help in reproducing the issue.

Project has 2 components
testparent -  refers to json  which used nestedform component, nestform component in here refers to testchild
testchild - loads a json which contains two text fields

Attached txt file contains, package.json, app-routing.module.ts, test-parent & test-child component ts & html files. Also the js

[2021-05-20 20:44] jwarrenbc opened #1253 "[QUESTION] How to Call OAuth-authenticated Webhook?"
## Environment
- Hosting type: Form.io
- Frontend framework: Standalone form

## Situation
I would like my anonymous form to POST to a REST endpoint on submit. However, the endpoint (Camunda Cloud) is only accessible using OAuth 2. Is there any way to configure form.io to get an OAuth token and pass it along with the POST call? (For clarity: it is the form.io instance that needs to be authenticate

[2021-05-24 14:34] waterbuckit commented on #966
Any news on this? I'm running 4.12.7 and I'm still seeing this issue, I'm just getting the value (id) when the option is selected from a long list.

[2021-05-24 16:52] anoop-pm commented on #1247
ReactDOM.render(
  <FormBuilder form={{display: 'form'}} onChange={(schema) => console.log(schema)} />
  , document.getElementById('builder')
);

[2021-05-25 09:34] suportecaso052020 commented on #471
you actually implemented this feature?

[2021-05-25 11:00] JohnnieLo opened #1255 "[BUG] API - Patch method always calling validations even in Draft state"
## Steps to Reproduce
1.  Create a form with 'Required' fields
2.  Create a draft submission, and don't fill in the required field
3.  Use Postman to make 'Patch' Method call update other fields and leave the 'required' field blank.  (I've tried adding in 'state' = draft as part of the patch call)
4. Formio returns validation error with the required field missing.

## Expected behavior
Draft submi

[2021-05-28 21:16] multinerd commented on #305
I was able to get it working using this env variable. No need to modify the json files.

[code]

[2021-05-28 21:18] multinerd opened #1257 "[QUESTION] How to configure email client and file uploads."
1. Does the free self hosted application support emailing form actions? If so how do i configure it.
2. How do I configure file upload to work with S3 (I am actually using a self hosted Minio server but it should work the same).

I am using the free self hosted version using docker.

[2021-05-31 11:12] avibu opened #1258 "[QUESTION] Modify color of default components"
Hello,

Couldn't find anything about that, are we able to modify the color of 'Drag and Drop' box, and the color of the basic components, via the options parameter?

![image](https://user-images.githubusercontent.com/22260300/120184871-26c03100-c21a-11eb-984a-f6e8f2366285.png)

[2021-05-31 11:20] #1258 closed

[2021-05-31 11:21] avibu commented on #1258
Wrong label.

[2021-05-31 11:22] avibu opened #1259 "Modify color of default components"
Hello,

Couldn't find anything about that, are we able to modify the color of 'Drag and Drop' box, and the color of the basic components, via the options parameter?

![image](https://user-images.githubusercontent.com/22260300/120185994-9125a100-c21b-11eb-9b0b-37de9cffdca2.png)

[2021-05-31 12:03] arif12979 commented on #640
@jhen1422 ( you may need to set the url attribute to the form url as well) mean we need to set file control url as form url is?

[2021-06-01 16:38] airarrazaval commented on #1257
Email client can be configured using the config file:

https://github.com/formio/formio/blob/dc85bedb75fea0e27066090e03b5df15180d138c/config/default.json#L59-L77

You can add a custom SMTP configuration aside from the default Gmail, Sendgrid and Madrill.  Just add the following:

[code]

You will need to configure it according your SMTP server settings.  You can also pass a custom SMTP configurati

[2021-06-01 21:03] multinerd commented on #1257
OK, apparently I configured SMTP correctly, i just forgot to change these lines

https://github.com/formio/formio/blob/dc85bedb75fea0e27066090e03b5df15180d138c/config/default.json#L30-L34

changing `email.type` to `smtp` resolved my first issue but now i'm getting this error

[code]

Ive tested my configuration with this code `https://github.com/adonaidiofanes/nodemailer-smtp-tester` and the email

[2021-06-01 21:07] multinerd commented on #1257
nvm, I forgot to restart my container. emailing was successful

[2021-06-01 21:10] VennilaCity commented on #953
@wag110894 Any update?

[2021-06-01 21:36] #1257 closed

[2021-06-02 14:04] wag110894 commented on #675
@shawnbot Can you create a new issue for this issue was this current item is over 6 months old.

[2021-06-02 15:08] wag110894 commented on #953
This item still needs to be merged. We will let you know once this has been added to a build and resolved.

[2021-06-02 20:51] multinerd commented on #1242
https://github.com/formio/formio/issues/1257

[2021-06-02 23:30] ddurham2 opened #1262 "Skipping Validation For Priviledged Accounts?"
Is there/can there be a way, when using the API and using a priviledged account to request that form validation be ignored?  I realize it's a potential source of later problems, but in some cases it's helpful.

It looks like it used to be a thing #71  , but has apparently remained undocumented or inadvertently removed.

I have a backend workflow where for new users, an object needs to be created b

[2021-06-04 14:38] ccontour commented on #1262
Validation can be skipped if:

- submission is a draft
- you add "noValidate" to query params, and the request can be tied to an admin (has an admin role, sent via api key)

[2021-06-05 07:06] ddurham2 commented on #1262
It does not seem to be working.

I am using the opensource version, hosted in docker. followed docker-compose instructions.   (I'm thinking this matters after hunting for a solution:  #1223)

I have a resource called 'foo' with one required text field called 'name' and a submit button.
I am making this POST:
```http://127.0.0.1:3001/foo/submission?noValidate=1```

POST-ed body   ```{'data': {'subm

[2021-06-07 15:12] vinothCA commented on #629
hi how can i buy this commercial solution

[2021-06-07 15:13] vinothCA opened #1263 "Pdf solution"
how can i create a pdf generation in https://portal.form.io @travist

[2021-06-07 20:46] wag110894 commented on #1263
Here is our documentation on PDF: https://help.form.io/userguide/pdf/

[2021-06-07 20:46] wag110894 commented on #629
contact support@form.io

[2021-06-07 21:09] yhrchan opened #1264 "[BUG] Form.io container has mailgun error message and couldn't run"
## Environment
Please provide as many details as you can:

- Hosting type
  - [  ] Form.io
  - [x] Local deployment
    - Version: latest from repo
- Formio.js version:
- Frontend framework:
- Browser: Edge
- Browser version:

## Steps to Reproduce
1. Git clone repo
2. npm install
3. docker-compose up -d

## Expected behavior

That Form.io will run and could be accessed through the web browser

##

[2021-06-09 13:27] vinothCA commented on #1263
hi i followed your documentation, i am a paid subscriber when i upload a pdf i have facing unauthorized issue
![image](https://user-images.githubusercontent.com/61687884/121363080-3cd59c00-c954-11eb-841e-0cdf2626e21e.png)
can you check this issue and help me what was wrong here

[2021-06-09 14:26] vinothCA commented on #1263
@travist

[2021-06-09 14:27] vinothCA commented on #1263
@wag110894

[2021-06-10 00:54] CodeChaser opened #1267 "Help Page - Dynamic Select Filtering Not Working"
## Environment
https://help.form.io/tutorials/walkthroughs/dynamic-select-filtering/

- Browser version:
Chrome #91.0.4472.77 (64-bit)
MSEdge #91.0.864.41 (64-bit)

## Steps to Reproduce
1.   Select a make
2.   Model has no data

## Expected behavior
1. After selecting a make
2. Model "select" should be populated

## Observed behavior
No model data appears for the two makes.

## Example
Just go to

[2021-06-10 06:32] yhrchan commented on #1090
@randallknutson I ran into the same issue. I was wondering is there a doc somewhere that clearly specifies the differences between the open source version versus the hosted/enterprise version? like what's missing in the open source version, etc? Thanks.

[2021-06-14 15:11] amira133 opened #1270 "Integrate Formio with processmaker standalone"
Hello
This [link ](https://help.form.io/tutorials/workflows/processmaker/)mentions how to connect [ProcessMaker ](https://www.processmaker.com/) to Formio, but unfortunately this page is not available at the moment, you may update this page or introduce a solution to connect the them.

**Note that I want to use the Formio as a standalone service**

[2021-06-15 13:06] sonam80 opened #1271 "On click of a radio button , a checkbox and a textbox should be displayed"
On click of a radio button in Form.io form , a checkbox and a textbox should be displayed.

[2021-06-15 14:19] wag110894 commented on #1271
Can you provide the form embed or a sandbox of the issue?

[2021-06-16 07:38] sonam80 commented on #1271
I dont know if it is a issue or what but I want to develop this functionality for my form, but I cannot see any option for that. Any help will be appreciated. Thank you.

[2021-06-16 07:49] AgileFlex opened #1272 "[BUG] Edit JSON, Description and Tooltip fields have issues when edited"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version:
- Formio.js version: 4.12.1
- Frontend framework: react 17.0.1
- Browser: Chrome
- Browser version: 91.0.4472.101

## Steps to Reproduce
1. Edit JSON, Description and Tooltip fields have issues when edited
2. Click Edit JSON (any field)
3. Write text in “Component JSON”

[2021-06-16 14:08] wag110894 commented on #1271
Do you have a conditional logic set up for the component?

[2021-06-16 16:04] #1153 closed

[2021-06-17 11:14] sonam80 commented on #1271
yes and I am able to now display the checkbox and textbox. Thank you for that.
I want to add a upload feature now to the form using custom URL. Can you help me with that?

[2021-06-17 16:40] Joanstapleton commented on #1026
Do we have barcode functionality available?

[2021-06-17 16:46] wag110894 commented on #1026
This item is still in our backlog. If you are in need of this feature, then we can provide you a quote and get the process started.

[2021-06-17 16:47] Joanstapleton commented on #1026
Please provide a quote on my email.

[2021-06-18 14:49] wag110894 commented on #1026
@Joanstapleton This feature would only be available as a premium component as part of our enterprise solution. This would not be a part of the OSS. Alternatively, a custom component could be developed and maintained by you or anyone in the Open Source Community to accomplish the functionality. Please let us know if you are interested in receiving more information about the enterprise solution, and

[2021-06-19 03:57] ddurham2 commented on #982
The workaround doesn't appear to be possible with a dropdown where the values are numeric.  There's no storage type option.

[2021-06-19 17:49] navateja424 commented on #990
This is what I am trying as well, in the form when a select an item from the dropdown it should call an API and it should populate the label below that dropdown. I can call that API from postman and I do get the response but not sure how to populate the value I need in the input field. @travist Thanks in advance!

[2021-06-23 16:09] wag110894 commented on #1244
Hello @Vinaythakoor04,

We recommend not having a period inside of the key as it causes issues with the submission as you have experienced.

[2021-06-23 16:09] #1244 closed

[2021-06-23 16:27] wag110894 commented on #1255
Hello @JohnnieLo,
Are you still experiencing this issue?

[2021-06-23 16:30] wag110894 commented on #966
This issue has been resolved. Please upgrade to latest version of formio.js.

Thank you.

[2021-06-23 16:30] #966 closed

[2021-06-23 16:36] wag110894 commented on #1272
Hello @AgileFlexAgency,

I am unable to replicate as this working correctly on our Portal. Can you provide a video of the issue?

Thank you.

[2021-06-23 16:43] wag110894 commented on #1267
Hello @CodeChaser,

We are aware that the current example on our help docs is not working. We are currently working on updating our documentation and will ensure that this documentation has more screenshots moving forward.

[2021-06-28 08:35] tiberiu89 commented on #1044
This is still an issue, at least on docker. Everytime I start containers giving the admin credentials as env variables, it seems a new admin user is created

![image](https://user-images.githubusercontent.com/42996791/123605780-e21dba80-d804-11eb-9dc1-0d6cee9c6caf.png)

[2021-06-28 11:39] jhoughtelin commented on #1263
It's the exact same issue you see on the example site when uploading a PDF file.
https://formio.github.io/angular-demo/#/manager/5be15fa7ac90f330d4b84859/edit

<img width="1375" alt="Screen Shot 2021-06-28 at 7 34 56 AM" src="https://user-images.githubusercontent.com/6137941/123630336-66f7dc80-d7e3-11eb-82e7-45681c8d472e.png">

Does this mean the project permissions are not set properly or the use

[2021-07-01 07:06] ddurham2 opened #1276 "QUESTION: Variables in Form Definitions"
I have some forms with File elements and I'd like for their storage URL to be based on either a passed in value, some sort of variable, or perhaps on a global 'configuration' submission's value.

I'm hosting formio myself and with dev, test and production environments, I have to reconfigured all the forms' URLs in each one.

Something like MyForm -> File1 -> Upload Url == StorageURL}/files
... whe

[2021-07-05 12:43] NoeliaEspada commented on #1276
I encountered the same problem as @ddurham2 , did someone find a solution?

[2021-07-06 04:57] centfis commented on #1019
Hi I'm new to formio forms. I need to create Drop-down box dependent on the option selected in another drop-down box. I started following [https://help.form.io/tutorials/walkthroughs/dynamic-select-filtering/](url) this link to create what I'm looking for.
 I added a 'select' field in my newly created form and chose the 'Data Source Type' as 'Resource'. Now I'm not able to enter any field value or

[2021-07-08 13:50] Defcon0 opened #1281 "Skip empty steps in wizard"
Hello,

I have a simple question (maybe it's a bug report).

I defined a wizard form and in step 2 there's a checkbox. In step 3 there's a textfield and it's only visible if the checkbox in step 2 is clicked.

Currently, the user then sees an empty step 3 if the checkbox in step 2 isn't clicked. Is there any way or workaround to skip the step or proceed directly to step 4 if the checkbox isn't cli

[2021-07-09 14:51] airarrazaval commented on #1281
Please be aware that this repo is for the form.io API server (backend).  The default client that is installed (if you don't provide a client application of your own) is [formio-app-formio](https://github.com/formio/formio-app-formio).  That application is very outdated (it uses formio.js 2.32 if I'm not wrong).  So expect to have some compatibility issues and a lot of glitches.

For questions rega

[2021-07-09 15:27] #1281 closed

[2021-07-09 15:28] Defcon0 commented on #1281
OK, I understand. I solved the problem by another way btw ;)

[2021-07-12 08:25] scan5415 commented on #889
This issue is not solved.
I tried to install the current version with the following error:
formio-master$ npm install
npm WARN acorn-jsx@5.3.1 requires a peer of acorn@^6.0.0 || ^7.0.0 || ^8.0.0 but none is installed. You must install peer dependencies yourself.
npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@2.3.2 (node_modules/fsevents):
npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Uns

[2021-07-13 11:52] davidbalik opened #1283 "Validation and VM instance creation"
I think you can significantly improve validation performance. Now VM instance is created every time validation is evaluated, see https://github.com/formio/formio/blob/master/src/util/util.js#L53. It seems to me like too heavy an operation to run that often.

I suggest to move the VM instance creation out of the Evaluator function, so that it is created only once in the validation process. It also

[2021-07-14 10:59] zpp-andy opened #1285 "Changing the panel title causes problems with blank characters [BUG]"
## Environment
Please provide as many details as you can:

- Hosting type
 -> https://formio.github.io/formio.js/app/builder

- Browser: Chrome
- Browser version: 91.0.4472.124

## Description
My Panel-Title is set by the content of field "Title" (Field inside the Panel).
When writing in the field "Title", the first space is always - continuously - removed immediately when typing, the second space

[2021-07-14 15:03] ccontour commented on #1283
Interesting suggestion. We'll need to verify there are no secondary security implications or consequences that aren't immediately obvious. However, at a first glance I believe this seems like a good change to make

[2021-07-14 19:22] airarrazaval commented on #1112
Strictly speaking, you are right that it is something to avoid.  Now you must also consider that it is a debug print which will only be visible inside the machine the server is running and shouldn't show in production. Anyone with direct access to the host machine will have access to view all of your formio server configuration and at this point, the debug will be the least of your concerns.

Now,

[2021-07-15 15:44] travist commented on #1283
I also think this is reasonable. If you submit a pull request with this change, we will run some tests on our end to ensure security requirements are met. Thanks!

[2021-07-17 00:49] airarrazaval commented on #1255
If you are using the open source API server then you won't be able to use drafts (only available in the enterprise version).

Also, please remember that PATCH only works over existing submissions.

Now, assume you have this case:

1. Create a form with 2 components and make one required

[code]

2. Create a new submission filling only the required component

[code]

3. Make the second component re

[2021-07-21 08:09] vaibhavdwivedi77 opened #1291 "Help: How to add custom CSS class in form.io"

[2021-07-21 10:34] #1283 closed

[2021-07-22 18:04] abhishekbeesony opened #1294 "Question: How can i populate data on fields base on calling an api in the drop down."
Example in the drop down i have select id as then other fields in the form should be automatically filled.

How can i achieved this. Please give me the steps.
Thank you.

[2021-07-23 17:14] andrewliles opened #1295 "[BUG] Docker compose launch fails with "Cannot find module...""
## Environment
Please provide as many details as you can:

- Hosting type
  - Docker, on MacOSX
- Formio.js version:
  - HEAD (=v2.2.3-rc.9) and tried v2.2.2

## Steps to Reproduce
1. Run `git clone; git@github.com:formio/formio.git; cd formio`
2. Run `docker compose up`

## Expected behavior

Running service

## Observed behavior

[code]

I also tried this.

[code]

Still errors, but with a diffe

[2021-07-24 14:11] andrewliles commented on #1295
Epic fail.  I did not first run
`npm install`

[2021-07-24 14:11] #1295 closed

[2021-07-26 21:16] sinewaveinc opened #1296 "[BUG] Unable to validate URL Component entry in form with a DNS TLD like .network."
## Environment
Please provide as many details as you can:

Working on a form that uses the URL Component validation feature, but the form would not accept one of the newer DNS TLDs, like .network.  Was using site https://www.sinewave.network as an example.

- Hosting type
  - [ ] Form.io
  - [x] Local deployment
    - Version:
- Formio.js version: 4.9.26
- Frontend framework:
- Browser: Brave, Saf

[2021-07-27 20:45] ccontour commented on #1296
Cannot replicate under the current formio.js version. The [regex]( ttps://github.com/formio/formio.js/blob/master/src/validator/rules/Url.js#L9) works fine with your url using regex testers, and when tested in the url component

[2021-07-27 20:45] #1296 closed

[2021-07-29 15:47] sundsx opened #1300 "help wanted"
## Environment
Hello, need an help with address component.

I am fetching data from JSON file for populate the form. I can fetch objects correcly, but i need to filter (like Autocoplete)

       `"components": [
        {
            "label": "Address",
            "tableView": false,
            "provider": "custom",
            "key": "address",
            "type": "address",
            "provid

[2021-07-29 15:49] #1300 closed

[2021-07-30 05:21] devsda commented on #1276
Still seeking a solution on this.

[2021-07-30 20:52] tinjaw opened #1301 "[BUG] Error: Cannot find module '/app/main' on deployment"
## Environment
Please provide as many details as you can:

- Hosting type
  - [] Form.io
  - [x] Local deployment
    - Version: master branch
- Formio.js version:
- Frontend framework:
- Browser:
- Browser version:

## Steps to Reproduce
1. clone repo to any cloud service that spins up docker instances based on a GitHub repo. (I tried hostman, chefnode, and kamatera)
2. Error
3.

## Expected beha

[2021-08-04 10:07] gag29 opened #1303 "[BUG] Problems - ClearonHide with CustomCondition doesnt work as expected"
I am using customcondition to show and hide a field (but fields calculated value is considered even when field's custom condition is not met)
Please check out the form in the link below :  https://pro.formview.io/#/ulgltsummjpspcw/modal?header=1&reset=1
Json looks as below :
![issue_formio](https://user-images.githubusercontent.com/40608248/128163230-423cf304-2bd3-4f6b-8c25-e58f1faf34b3.png)

this

[2021-08-12 02:59] massquote opened #1307 "QUESTION: Is there a way to auto add row depending on the input value?"
I have a number input where user can type the number of rows to be populated in the dataGrid. So if the user type 3 it should create 3 rows in the datagrid. Is there a way to achieve this?

[2021-08-19 11:45] andreinitescu opened #1309 "Override the default value of the enableTime flag on the datetime component"
I'm trying to change the default value of the "Enable Time Input" check-box (in the "Time" tab of the datetime component) to false.

From https://github.com/formio/formio/issues/1032 based on @travist 's answer:
[code]

This sets **all** the existing datetime component in an existing schema to have enableTime false. Not what I wanted.

I also tried @travist 's answer from https://github.com/formio

[2021-08-20 16:03] nilesh-infobeans opened #1310 "How to set a unique key for a element that doesn't change when label changed?"
While creating any new text field or any form element and change the label of that element then the key got changed as per the label, is there any way to make the key unique so if we will change the label it should not change the key of that element. Please suggest.

[2021-08-21 13:16] #1270 closed

[2021-08-23 11:49] avibu commented on #1259
Hey,
Trying again, is there a way to modify the color?

[2021-08-26 20:17] sachinkm7 opened #1313 "[BUG] Error Validations not displaying on page load for fields nested inside another element"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
- Formio.js version: 4.12.0
- Frontend framework: Angular 11
- Browser: Google Chrome
- Browser version: 92.0.x

## Steps to Reproduce
1. Create a form with any data component say container/data grid or any custom layout such as Accordion.
2. Add some input fields with validations such as required, min length

[2021-09-02 09:27] magaz-serhii opened #1317 "[Question] Component Save button event"
Hi, I need to perform some custom javascript logic when user clicks Save button on component edit form. Please tell me, how can I achieve this?
Thanks
![image](https://user-images.githubusercontent.com/1797793/131819393-b4435132-628a-4fa0-8146-d918fafa2378.png)

[2021-09-02 15:22] uttamsolanki opened #1318 "[question] Schema is not generating proper in Vue"
Hello Devs,
I am using vue-formio library, now I want to get the schema for a form that I have a design in form builder but I am getting a large object instead of a schema object

For code or form JSON, please enclose in a code block:
 schema which i am getting
[code]
But I want to like this

[code]

My code is to get schema

[code]

Template code

[code]

[2021-09-07 13:29] mrcandu opened #1321 "[BUG] Email action errored but marked as successful"
## Environment
Please provide as many details as you can:

- Hosting type
  - [] Form.io
  - [x] Local deployment
    - Version: Enterprise 7.1.7
- Formio.js version: 4.13.5
- Frontend framework: Vanilla JS
- Browser: Chrome, Edge etc
- Browser version: Latest

## Observed behavior
The email action fails, (in this case due to an SSL handshake error with mailtrap.io), but is marked as successful in

[2021-09-20 13:20] DaveBagler commented on #1054
This is still a problem with portal 7.1.4 and library 4.14.0-rc.18.

[2021-09-21 19:27] jhen1422 commented on #1054
@DaveBagler
While we don't have an environment with the mentioned versions, I can confirm this issue is resolved using the following environment.

API 7.2.0
FJS 4.14.0-rc.26

[2021-09-22 06:24] monicse09ku commented on #1153
@Crdzbird We need the flutter support. Could you please suggest anything we can do about it.

[2021-09-22 07:02] monicse09ku commented on #1024
@ankush-kr @travist @doublegrey  Did you find any work around?

[2021-09-28 06:04] mananu opened #1329 "[BUG] Issue in text fields used within the Data Grid"
- Hosting type
  - [ ] Form.io
  - [x] Local deployment
    - Version: Latest
- Formio.js version: Latest
- Frontend framework: N/A
- Browser: Chrome
- Browser version: 93.0.4577.82

## Steps to Reproduce
1. Please refer to this; https://jsfiddle.net/mangun/dyba65Lq/2/
2. When loaded initially user edits the first text field (can edit the first field but the 2nd and the 3rd gets reset to the calcu

[2021-09-28 07:26] KAVA-Leigh opened #1330 "[BUG] Decimal place still shown when zero decimal places nominated"
## Environment
Please provide as many details as you can:

- Hosting type
  - [] Form.io
  - [x] Local deployment (open source)
    - Version:
- Formio.js version: latest (v4.13.7-rc.2)
- Frontend framework: none (vanilla JS)
- Browser: any (tested on Chromium, Safari & Firefox)
- Browser version: various

## Steps to Reproduce
1.  Create a Currency field
2. Set the decimal places to 0
3. Uncheck

[2021-09-28 10:38] Ypsolution opened #1331 "{BUG} Not getting Tabs option in layout component"
I have cloned the formio source code and trying to run it on my server but I am not getting Tabs options in my layout components.
I have tried a lot of things but nothing seems to work.

![image](https://user-images.githubusercontent.com/63725690/135071917-6987a0aa-7e03-406f-b0d3-bbefa3a65c72.png)

[2021-09-30 01:23] cetsupport opened #1332 "[Question] How to do calculation with one field of all submissions in a form or resource with a formula"
## Environment
- Hosting type
  - [] Form.io
  - [x] Local deployment
    - Version:
- Formio.js version:2.3.0-rc.1
- Frontend framework: formiojs 4.14.0-rc.20

## Question:

How to calculate all submissions in a form or resource with a formula?

I'd like to sum up some fields in a resource/form with reactive behavior, for example I submit a submission to form with one field A= 4. and my formula i

[2021-09-30 09:38] surya32923 opened #1333 "Rendering Formio in flutter webview"
Hi im trying to integrate Formio using my flutter webview.

 I was able to get the same code up and working in native kotlin android application.

I have added the formio components in my assets/files in my flutter app

But when im trying to load the same HTML using flutter webview i get error

Uncaught ReferenceError: Formio is not defined

I have pasted my flutter webview code below for referenc

[2021-10-01 23:28] cetsupport commented on #1332
Close this issue as misusing wrong bug label(should be question)

[2021-10-01 23:28] #1332 closed

[2021-10-01 23:32] cetsupport opened #1336 "[Question]How to calculate result based on all submissions in a form or resource with a formula?"
**How to calculate result based on all submissions in a form or resource with a formula?**

**Further question, how to do this cross forms?**

I'd like to sum up some fields in a resource/form with reactive behavior, for example I submit a submission to form with one field A= 4. and my formula is sum(Field A). Then total value will be 4(assume this is the first submission in this form).

Later, I

[2021-10-04 08:11] #1333 closed

[2021-10-08 03:41] mravell opened #1337 "Accessing form controls for the form that you are building from within the display form of a component"
Is it possible to create a custom component in such a way that I can show a list of the other components in the form within the display form as I am editing the custom component?

I do not seem to have access to the Form itself from within the display edit form.

[2021-10-09 09:43] jeevanpillai opened #1339 "Hyperlink in Text Field"
Hi there, I'm looking for a way to be able to have a hyperlink clickable within the form submission edit page. I already am able to generate the link (based on other form values) but when I have a text field with it's data type set HTML and it's data is set to something like

`<a href="http://www.google.com" target="_blank">Link</a>`

It doesn't seem to render the hyperlink, it instead displays th

[2021-10-15 02:56] AldirchEugene opened #1342 "[BUG]"
Now, I encountered a problem. I created a Make resource and added a lot of data. Then I created a Form and selected the Make resource. How can I get all the data of the Make resource in the Form?

[2021-10-15 03:06] #1342 closed

[2021-10-15 03:07] AldirchEugene opened #1343 "How can I get all the data of the Make resource in the Form?"
Now, I encountered a problem. I created a Make resource and added a lot of data. Then I created a Form and selected the Make resource. How can I get all the data of the Make resource in the Form?

[2021-10-15 12:24] ricardophone2b opened #1344 "[BUG] Tee HTML attributes on a select component it located in a wrong level. Should be one level above."
![image](https://user-images.githubusercontent.com/64840719/137486202-b0737cd5-cf8f-4202-917a-8d2b37c5348d.png)

## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version:
- Formio.js version:
- Frontend framework:
- Browser:
- Browser version:

## Steps to Reproduce
1.
2.
3.

## Expected behavior

## Observed behavior

## Exam

[2021-10-18 19:32] luislobo commented on #598
@travist Is there a recommended way to handle Records where the primary key is composed of multiple fields?

[2021-10-20 11:09] 0liver opened #1348 "[BUG] eachComponent method skips over components inside of columns"
## Environment
Please provide as many details as you can:

- Hosting type
  - [ ] Form.io
  - [x] Local deployment
    - Version: 4.13.5
- Formio.js version: 4.13.5
- Frontend framework: plain JS
- Browser: Chrome
- Browser version: latest

## Steps to Reproduce
1. Create a form with a Column component.
2. Add
3.

## Expected behavior
- Components inside columns should be iterated over.

## Observ

[2021-10-22 13:20] tmdoit opened #1349 "HTML tags are not interpreted by form builder widgets i.e. in input fields"
What version of form builder is used in this repo? It needs update?

Screenshot taken from form builder available [here](https://formio.github.io/formio.js/app/builder)
![Zrzut ekranu 2021-10-22 o 15 16 55](https://user-images.githubusercontent.com/85706044/138460176-84bdb959-bd60-468b-800a-3215b35dfaea.png)

Screenshot taken from form builder available via docker instance
![Zrzut ekranu 2021-10-2

[2021-10-27 06:56] nguyentanvu42 opened #1352 "[BUG] Collapsible not working in Panel Component"

[2021-10-29 12:06] bhanu-affinidi opened #1353 "[BUG]"
## Environment
Please provide as many details as you can:

- Hosting type

  - [X ] Local deployment
    - Version:
- Formio.js version: latest
- Frontend framework:latest
- Browser:latest
- Browser version:latest chrome

## Steps to Reproduce
1.
2.
3.

## Expected behavior
should run after unzimmping
## Observed behavior

Error: Cannot find module 'sendgrid'

## Example
If possible, please provid

[2021-10-29 16:07] elicec59 opened #1354 "How to create Multilingual form"
I want my form to be in 2 languages but I am not sure what is the best approach.

1. I have tried with JSON language in a custom component but I keep getting this error: "all non layout form component must have a non empty api key" while all of my elements have API key.
2.
2. I have tried this http://formio.github.io/formio.js/app/examples/language.html but I can't seem to have the Javascript code

[2021-11-01 14:11] #1353 closed

[2021-11-04 09:07] viorelhojda opened #1358 "How to customize EditGrid"
Hello. I'm using the omponent EditGrid in order to create a List of small forms with some fields.
For example, this is the form that can be tested in formIo SDK sandbox:
{
  "display": "form",
  "settings": {
    "pdf": {
      "id": "1ec0f8ee-6685-5d98-a847-26f67b67d6f0",
      "src": "https://files.form.io/pdf/5692b91fd1028f01000407e3/file/1ec0f8ee-6685-5d98-a847-26f67b67d6f0"
    }
  },
  "comp

[2021-11-08 21:36] #889 closed

[2021-11-09 15:09] bmcbride opened #1359 "Error: sendgrid not accessible from nodemailer-sendgrid-transport"
My environment is macOS Big Sur (11.6), node v16.13.0

I'm following the [docker-compose](https://github.com/formio/formio#run-with-docker-compose) directions and after downloading and unzipping [v2.2.6](https://github.com/formio/formio/releases/tag/v2.2.6), running `npm install` without any errors, I'm getting the following error when running `docker-compose up`:

`npm ERR! sendgrid not accessibl

[2021-11-11 06:08] viorelhojda commented on #1358
I've managed to do the same functionality using a"Container" whit small form components in it put in a "DataGrid" component.

[2021-11-15 03:26] sethpjohnson commented on #1359
I noticed the packages were still referencing `sendgrind` instead of `@sendgrid/mail`

`rm -r node_modules/` and `rm package-lock.json`

then `npm install` (I needed to do `--legacy-peer-deps` also) and then the docker install should work.

[2021-11-15 19:04] bmcbride commented on #1359
Thanks @sethpjohnson! I was able to get that to work!

[2021-11-15 19:04] #1359 closed

[2021-11-15 20:05] phucduong86 opened #1360 "[BUG] Cannot inject nunjuck macro into email template"
## Environment
Please provide as many details as you can:

- Hosting type
  - [ ] Form.io
  - [x] Local deployment
    - Version: 7.2.2
- Formio.js version: 4.14.0
- Frontend framework: Vuejs
- Browser: Chrome/Firefox
- Browser version: Latest

## Steps to Reproduce
1. Create a simple form with one textfield
<img width="440" alt="image" src="https://user-images.githubusercontent.com/21692768/14184

[2021-11-17 08:19] kurianbenoy-aot opened #1362 "[BUG] The formio token is having invalid signature"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [x] Local deployment
    - Version:
- Formio.js version: 2.0.0--rc.34
- Frontend framework: React
- Browser: Firefox
- Browser version:

## Steps to Reproduce
1. The generated formio token when logging in has a invalid signature when decoding with jwt.io is having an invalid signature

![image](https://us

[2021-11-22 08:50] haghverdimasoud opened #1363 "problem with select"
I create a form with formio and added a select component with custom data.
this is my code:
var token = 'Bearer eyJhbGciOiJIUzUxMiJ9.eyJqdGkiOiI1MiIsInN1YiI6ImRldmVsb3BlciIsImlhdCI6MTYzNzU2MTk5OSwiaXNzIjoicGF5ZXNoZ2FyYW4iLCJleHAiOjE2Mzc1ODA5OTksImF1dGhvcml0aWVzIjoiW10ifQ.p7_BMpN3ZxdWpNTwzs80CBdl2j2pDmhp7PPqqQhp0-mbH7uC0QfzcDaIsDVICD5IFSgFOJu6RQWf4I0Fsu1eIw';
var url = 'http://192.168.2.33:8001/ci-

[2021-11-30 08:59] sumitbaliyan opened #1368 "Not able to add validation at dataGrid level, also not able to find means to show validation at specific index"
## Environment
- Formio.js version: v4.10.2
- Frontend framework: JS Code
- Browser: chrome
- Browser version: Latest version

## Steps to Reproduce
1. Create a form with a DataGrid (API name: dataGrid) and add Text Field (Text Field: textField) inside it.
2. Add below validation at DataGrid level
_valid = (data.dataGrid[0].textField === 'test') ? true : 'Enter correct value';_
3. Add below valida

[2021-11-30 12:13] sumitbaliyan commented on #471
Hi Team,

May you confirm if conditional disable feature is implemented now ?

[2021-12-01 13:00] kurianbenoy-aot commented on #1362
@ccontour by jwt_secret up in API server, what exactly are you meaning in setup?  I have setup the logic to generate `formiotoken` as given below with secret key set up as `changeme`. What should I do to make my secret key verified?

[code]

[2021-12-07 20:30] MarkGabb-Alcumus opened #1369 "[QUESTION] How can you change a field value on 'saving' a form."
I've been following this example for setting a fields value when you 'save' a form.

What I'd like to do is change a field I've got called 'state' when I submit to 'pending'.

What I'm doing doesn't change a fields value on submission which is blocking any further investigation into whether form.io could work for the business case I'm looking at.

Here is a screenshot of the form with a 'Save' but

[2021-12-08 14:05] siva-krishna-m opened #1370 "Unable to load FormsFlow Web[BUG]"
## Environment - formsflow.ai

- Hosting type
  - [x] forms-flow-web
  - [ ] Local deployment

## Expected behavior - localhost:3000 should load along with localhost:5000 and localhost:8000

## Observed behavior - But not loading as expected.
![error](https://user-images.githubusercontent.com/73309496/145221640-1c670cdb-a716-4d82-a19c-9d50681dd35a.PNG)

[2021-12-08 14:06] #1370 closed

[2021-12-08 14:06] siva-krishna-m commented on #1370
Unreleated to form.io

[2021-12-14 20:51] almereyda commented on #1353
Parts of a permanent resolution have been presented in https://github.com/formio/formio/issues/1359#issuecomment-968504616

[2021-12-14 20:53] almereyda commented on #1359
I was able to issue the sequence of commands from @sethpjohnson above without `--legacy-peer-deps` from within `/.npm-packages/` inside the container, and `node main` from `/app` would finally run.

[2021-12-14 20:59] almereyda opened #1372 "Docker Compose broken due to legacy sendgrid dependency"
## Environment
Please provide as many details as you can:

- Hosting type
  - [ ] Local deployment
    - Version: d288a2e269f8bf76e81f2b3e2efce15176dd8e92

## Steps to Reproduce

1. Follow installation instructions from https://github.com/formio/formio#run-with-docker-compose
2. Run into the errors as described in #1353, #1359

## Expected behavior

The `node main` process is able to execute witho

[2021-12-17 02:45] rickywu opened #1374 "[BUG]"
- Hosting type
  - [x] Local deployment
    - Version: 2.3.1
- Formio.js version: 2.3.1
- Frontend framework:
- Browser: Chrome
- Browser version:

## Steps to Reproduce
1. build with docker
2. docker-compose up -d
3. docker logs formio

## Observed behavior
Error: Cannot find module '@azure/ms-rest-nodeauth'
Require stack:
- /app/src/util/util.js
- /app/main.js
    at Function.Module._resolveFile

[2021-12-21 07:42] jensonjohn001 commented on #1291
+1

[2021-12-22 08:01] dxhuy87 opened #1376 "[BUG] Email invalid only validate when submit in multi-step form"
I used FormIO to create a multi step form, the email validation is not show the email incorrect immediately, it only show the email is invalid in the last step when user click submit. User must get back to a lot of page to fix an email validation error.

## Environment
- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version:
- Formio.js version:
- Frontend framework:
- Browser:
- Bro

[2022-01-02 23:06] davaughncodes opened #1379 "Deploy your app for free 🚀"
Hey @Form.io, I'm reaching out because I took a look at your project on GitHub (formio/formio) and decided to reach out to see if you'd be interested in free hosting. I'm the owner of DeeloCloud, a serverless dev platform that allows you to easily deploy frontend and backend apps in minutes. It's built for developers, it's super easy to use, and you won't have to manage servers - which means you c

[2022-01-04 02:47] chrisfyk opened #1380 "[QUESTION] List Forms API by owner name / id"
I am using the List From API to filter the forms created by owner name / id.  But I found that, I can't get the correct result from the query.

Any hints?  Or any proper way to do this?

API:
projectUrl/form?owner=61c135289db96b586c01b015

[2022-01-05 20:19] christophermurphy2-veradigm opened #1381 "[Question] Keeping custom metadata fields in sync for formrevisions"
## Environment
Please provide as many details as you can:

- Hosting type
  - [] Form.io
  - [X] Local deployment
    - Version: formio/formio-enterprise:6.5.6 (docker image)
- Formio.js version: ~3.28.2
- Frontend framework: AngularJS for the builder
- Browser: Chrome
- Browser version: Version 96.0.4664.110 (Official Build) (64-bit)

## Question
So, our scenario is like this:
- We have a "settin

[2022-01-17 20:51] #1372 closed

[2022-01-18 16:22] VinceBab opened #1384 "[BUG] Signature panel accepts empty input even though marked as Required"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version:
- Formio.js version: Current version on portal.form.io as of January 18th, 2022
- Browser: Chrome (97.0.4692.71), Edge (97.0.1072.62)

## Steps to Reproduce
1. Sign up for trial
2. Create new API Web form
3. Add signature panel to it
4. On the Validation panel, check th

[2022-01-19 06:36] rickywu opened #1385 "[BUG] Build image failed with sendgrid"
## Environment

- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version:
- Formio.js version:2.3.3
- Frontend framework:
- Browser:Chrome
- Browser version:

## Steps to Reproduce
1. npm install
2. docker-compose up

## Expected behavior

## Observed behavior
npm ERR! sendgrid not accessible from nodemailer-sendgrid-transport

npm ERR! A complete log of this run can be found in:
npm

[2022-01-25 12:56] DomiStyle commented on #1374
Same issue here, I was able to solve it by running `npm install` on the host prior to building the application.
This is not ideal and definitely should be done while building the Docker container.

[2022-01-25 13:17] rickywu commented on #1374
Yes, I just found the reason, but it's better run npm install in Dockerfile

[2022-01-28 23:00] martym00se opened #1388 "[BUG] Submit button disabled when EditGrid uses Choices and a required field"
## Environment
Please provide as many details as you can:

- Hosting type
  - [] Form.io
  - [ X] Local deployment
    - Version:  3.8
- Formio.js version:  tested and broken in both 4.14.1-rc.4 and 4.15.0-rc.1

**This is NOT broken in v4.13.10**

- Frontend framework:   javascript
- Browser:   Chrome
- Browser version:    97.0.4692.99

## Steps to Reproduce
1. Add a choices JS select (with Raw JS

[2022-02-03 22:31] b26 commented on #1009
@wag110894 @roflanKisel has this issue been resolved? I'm still seeing memory issues with `react-formio`

cheers

[2022-02-08 13:51] ThomasVague opened #1391 "[BUG] checkbox default value not set when inside another component"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
https://formio.github.io/formio.js/app/builder
- Browser: Chrome
- Browser version:  97.0.4692.99

## Steps to Reproduce
1.  Create a checkbox inside a container component
2.  Set default value to checked

## Expected behavior
Checkbox should be set in the form builder.
## Observed behavior
In the form builde

[2022-02-09 06:44] b1f17773 opened #1392 "Is it possible to build docker with app?"
Hello Guys,
i would like to know is it possible to build docker formio with app which will allow external users to use my forms?
I can log in as admin and create forms with access for everyone, but i don't know how to give access to forms.

I saw that it's possible with building manual formio, but i need this with docker. Is it possible?

[2022-02-14 06:20] anujxx commented on #1330
@KAVA-Leigh  my concern is also same but i am unable to disable "." after 123 value

[2022-02-15 04:03] Alexa-Green commented on #1263
@jhoughtelin Did you ever get this working? Have the same thing happening

[2022-02-15 11:15] jhoughtelin commented on #1263
No.

[2022-02-15 15:44] rwplazz commented on #637
Hi,
I think it should be possible to use the "Custom Default Value" field to prepopulate the fields from your user data.
BR

[2022-02-22 08:23] Amir-MP opened #1396 "[QUESTION] should i use formio/formio and can i change it?"
Hello , I have a problem with  Formio .
my team asked me to create a formio project locally and they want kind of all feature in formio, they say i should use https://github.com/formio/formio , this project , but i can't change anything in this project, like language , and datepicker (we use Shamsi/jalali Calendar ,it's totally different from Gregorian calendar),
should i use this project(https://

[2022-02-22 22:28] multinerd commented on #1392
Yes, it is possible.

[code]

The most impoartant thing here is this line

[code]

Im telling it that this repository is here `D:/docker-data/formio-data/formio` and to map it to `/app` in my container.

Steps to get up and running:
- Clone the repository
- run yarn/npm
- docker compose up -d

I've been meaning to create an image where the repository is pre-downloaded but time is never on my side.

[2022-02-22 22:38] multinerd commented on #1384
There is no focus behavior on the signature pad. Clicking the pad places a dot, but because you don't move the mouse, nothing gets drawn.

The submit button is triggered by the `data` present on the pad, so disabled when null, enabled when not null. an empty image is not the same as a null image.

[2022-02-28 14:44] b1f17773 commented on #1392
I don't understand one thing. I already downloaded and run this formio/formio repo. And i can log in, but i want to share forms with external/anonymous users. And you added here another docker-compose in your response. I should use it as replacement? Or additional container?

[2022-02-28 18:33] sdancer75 commented on #428
I droped the formio db and I re-installed. I meet the same problem. Any solution to this?
Question : Where the root account is stored inside the DB?

[2022-02-28 18:35] sdancer75 commented on #1234
same problem here!!! Is that possible to check the root account inside the mongodb shell commands?

[2022-02-28 19:01] multinerd commented on #1392
You asked `Is it possible to build docker with app` but it look like your question has nothing to do with docker...

Go to the form you wish to share.
Click on `access` tab.
Change `Create Own Submissions` to `anonymous`.

This will allow anyone with the link to submit that form.

[2022-02-28 19:20] b1f17773 commented on #1392
@multinerd i logged as admin user, there i have this:
![image](https://user-images.githubusercontent.com/17282191/156044958-34ac88e8-f46e-48a4-ad28-8e47df29da86.png)
I tried in resources and forms, nothing worked. I opened Test in Forms. There i opened Access tab and switched permission:
![image](https://user-images.githubusercontent.com/17282191/156045086-9480d6bb-083c-4479-915d-d61053979168.png)

[2022-02-28 19:22] b1f17773 commented on #1392
Probably wrong link? But how i should generate proper url?
Here you have settings for this form:
![image](https://user-images.githubusercontent.com/17282191/156045352-b5512561-9175-4005-a5ee-0867c4294972.png)
but when i'm opening domain.com/test i have only array response. I want to have form?

[2022-02-28 19:33] multinerd commented on #1392
Formio does not render the forms outside of the platform. You would need to use the javascript sdk (https://github.com/formio/formio.js) to render your forms.
Heres a sample you can use.

[code]

[2022-03-03 04:01] dinesh-aot commented on #1232
Is it possible to trigger change event for select in the same way. Because, now I cannot add logic to the change event of a specific select box. Or if I listen to the 'change' event in the 'Logic' tab of select box, is it possible to get the 'event args' in the 'Custom Action'.

[2022-03-07 14:31] dewstend commented on #1262
I created a PR that adds the req.noValidate property if the user is an admin and sent a truthy value.
That property does not work as of current's master.
#1398

[2022-03-08 15:36] nikolai-nikolajevic opened #1399 "[QUESTION] How to set the builder language"
Hi guys. How can I set the language for the builder?

According to https://help.form.io/developers/form-builder#form-builder-options my JavaScript is
[code]

but it doesn't work

[2022-03-10 08:29] b1f17773 commented on #1392
@multinerd thank you very much for your comment.
I have few questions, but first let me describe my model: i want to use formio to create forms which will send data through API/webhook to my app. And i wonder:

1. If i want to store submissions directly inside my app, do i actually need formio docker container? I saw that it's possible to define fields and other things directly in file.
2. You sho

[2022-03-10 11:55] madflow opened #1400 "[Feature] Sentry Integration"
- Hosting type
  - [x] Local deployment
    - Version: 7.3.1 Enterprise

Please consider providing an optional Sentry Integration of the Formio Enterprise Server.

We have server crashes after uncaught exceptions like

[code]

For us this is pretty much impossible to debug and send you as a Bug Report without any insights.

[2022-03-10 18:30] multinerd commented on #1392
1. IMO, it'll make your life easier using the platform and its API. If you don't need that convenience, you can certainly rely only on formio.js. You just have to handle saving/viewing forms, submissions, etc... yourself.

2. You misunderstand how it works. The CDN hosts the formio.js `library`. The `library` will read the `src`, parse the JSON and render the form. This is all done client side. If

[2022-03-11 07:39] b1f17773 commented on #1399
+1

I don't think it's possible to set more than one language through form builder

[2022-03-11 07:45] b1f17773 commented on #1392
@multinerd i really appreciate your help.
I'm asking about all these things, because i really like an idea, and i think it's too easy and i still think that i'm missing something, because right now i think that: it's secure and safe to use their cdn(because they don't take any data, right?), i actually don't even need to set own package, because i can simply open php file, enter there payload with

[2022-03-15 08:18] sdancer75 opened #1401 "Multiple Admin Resources"
Hi, I want to create a new role "_formbuilder_" as well as a resource that keeps users of that role **seperated** from the _admin resouce,_ that has the ability to create forms and of course the ability to manage only the forms that this role creates (not globally).

Setting the key "admin:true" for the formbuilder role, it seems that after a new installation no one has the permission to create fo

[2022-03-17 11:20] BojanLavrencic commented on #1026
Is there any update regarding barcode scanning support and when this premium component will be available?

[2022-03-17 19:22] wag110894 commented on #1026
This is still in our backlog. We would be happy to provide a quote if you are interested in expediting this feature.

Please let me know and we can get the process started.

[2022-03-22 08:43] sdancer75 commented on #1380
Looking for the same thing but it returns empty []. Did you find any solution?

[2022-03-22 10:17] sdancer75 commented on #1380
Anyway, I just found a solution for my case.

I created a custom field ie "CustomOwnerID" that I fill at the form's creation time. Now the API url will look like

```projectUrl/form?customOwnerID=61c135289db96b586c01b015```

Take a look at the snippet below. Hope it helps.

[code]

[2022-03-25 08:27] DivayMeta opened #1406 "Fom.io Extending Components in Angular 12"
I'm trying to create a custom component that extends formIO select field in angular 12 application. How we can override existing select field functions and how to call a custom function when clicked on select field.
![Capture](https://user-images.githubusercontent.com/102352263/160083154-4ce04969-a231-493f-9710-da7a04e20c41.PNG)

Thanks and regards

[2022-03-25 13:21] DivayMeta commented on #1406
@Marc.Bertrand

[2022-03-25 13:22] DivayMeta commented on #1406
@Marc.Bertrand

[2022-03-25 13:28] gunnargj opened #1407 "Select component item template"
Hi
Just one question.
Is it possible to add conditions (if...else) in the Item Template field for data in select component.
Need to skip field if empty for example.
What's the syntax?

[2022-03-25 16:47] DivayMeta commented on #1406
@Marc.Bertrand

[2022-03-28 19:57] phorumdm commented on #905
how is this solved??

[2022-03-29 20:08] nikolai-nikolajevic commented on #1399
I found out, that I have to translate it on my own 😅
[code]

[2022-03-29 20:08] #1399 closed

[2022-03-30 12:50] dewstend commented on #1262
@wag110894 @travist Visibility for this issue and the PR I created

[2022-04-04 16:25] CatBakun opened #1409 "[BUG] Can't migrate to DocumentDB because "partialFilterExpression" in index is incompatible with DocumentDB"
Are this indexes currently used? Can I drop them to make the migration?

## Environment
Please provide as many details as you can:

- Hosting type
  - [] Form.io
  - [x] Local deployment
    - Version: formio-enterprise:6.11.5
- Formio.js version: N/A
- Frontend framework: N/A
- Browser: N/A
- Browser version: N/A

## Steps to Reproduce
1. Having a formio backend deploy (formio-enterprise:6.11.5)

[2022-04-05 08:27] weznellxrm opened #1410 "[BUG] TypeScript FormIO Custom Component doesnt Render & cant add Even Listeners"
## Environment
Please provide as many details as you can:

- Hosting type
  - [ ] Form.io
  - [x] Local deployment
    - Version:
- Formio.js version:
- Frontend framework:
- Browser:
- Browser version:

## Steps to Reproduce
1.
2.
3.

## Expected behavior
Followed the tutorial and expect the component to load and fire events

## Observed behavior
I have created a custom component in FormIO. I hav

[2022-04-05 12:40] hbobka opened #1411 "[Question] How to avoid using localStorage for storing jwt-tokens"
Hi guys,

is it possible to avoid the localStorage for storing the jwt-tokens set by Formio.setToken()?
Can this be configured (sessionStorage, Cookie ...)?

Greetings

[2022-04-07 19:15] amjmhs commented on #1411
Storing tokens into localeStorage is considered as "bad practice". See:
- https://cheatsheetseries.owasp.org/cheatsheets/JSON_Web_Token_for_Java_Cheat_Sheet.html#token-storage-on-client-side
- https://stormpath.com/blog/where-to-store-your-jwts-cookies-vs-html5-web-storage

So i would be nice to have an alternative for this.

[2022-04-07 22:29] xjia-lighthousehq commented on #1360
fixed in formio-worker 1.16.2
https://github.com/formio/formio-workers/commit/938d4b1e8cddc55402514623bb4711a4207c8e78

[2022-04-08 08:50] Ankit-sagar32 commented on #961
Did it work? I am facing the same issue.. and how does the above solution even related to not finding '/app/main'

[2022-04-08 12:52] dashu1999 opened #1412 "[BUG]"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [x] Local deployment
    - Version:
- Formio.js version:
- Frontend framework:
- Browser:
- Browser version:

## Steps to Reproduce
1.
2.
3.

## Expected behavior

## Observed behavior

## Example
If possible, please provide a screenshot, live example (via [JSFiddle](https://jsfiddle.net/) or similar), an

[2022-04-19 17:12] winstondelgato commented on #594
@grugnog Did you ever make any progress on a helm chart for FormIO?

[2022-04-23 22:49] bohan commented on #961
Didn't work.

[2022-04-25 03:42] Ankit-sagar32 commented on #961
OK, It seems the dockerfile is not created to support docker-compose and docker build both.
Like Step 1 would be to add the following line to copy the contents in the container:

`COPY . .`

This line of code needs to be added after the following:

`RUN npm ci --prefix=$NPM_PACKAGES`

But since it's a multi-container scenario, it's better to use docker-compose to build the mongo and formio images.

[2022-04-25 19:05] dewstend commented on #1262
Since #1398 was merged, I believe this can be closed.
@ddurham2 @travist

[2022-04-25 23:34] ddurham2 commented on #1262
I haven't had a chance to validate it, but I would agree and can reopen if it fails.

[2022-04-27 19:41] evercoppola opened #1416 "Javascript SDK correct Bootstrap Version"
I added form.io Javascript SDK to a project that I have.  When viewing the form builder the menus are behaving oddly. I believe it is connected to the version of bootstrap being used. I'm wondering which version will result in the menus working properly.

[2022-05-10 12:19] shuhaib-aot opened #1420 "[BUG]"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [x] Local deployment
    - Version:
- Formio.js version:
- Frontend framework:
- Browser:
- Browser version:

## more end points are exposed
1.  http://localhost:3001/form
2. http://localhost:3001/access
3. http://localhost:3001/form/formid/components
4. etc...

[2022-05-11 09:24] zyq524 opened #1421 "[BUG] SSO Azure AD OpenID - Cannot read properties of undefined (reading 'toLowerCase'))"
## Environment
Please provide as many details as you can:

- Hosting type
  -  Form.io 7.3.2 image deployed to App Service as a web app running on Linux

## Steps to Reproduce
1. Creating a new application through "App registrations" in the "Azure Active Directory".
2. Filling in the application details as below
![image](https://user-images.githubusercontent.com/1371040/167814243-052006c1-d895-467

[2022-05-12 11:51] #1421 closed

[2022-05-14 10:28] 0liver commented on #1420
1. Please give your issue a title.
2. Please add a version number.
3. Please describe what your expectations are, and what the behavior is you are seeing instead.

[2022-05-14 10:39] 0liver opened #1424 "[BUG] Dragging a custom component onto form adds only a container - regression from 4.14.0 to 4.14.1"
## Environment
Please provide as many details as you can:

- Hosting type
  - ❌ Form.io
  - ✔ Local deployment
    - Version: 4.14.1
- Formio.js version: 4.14.1
- Frontend framework: JS
- Browser: any
- Browser version: any

## Steps to Reproduce
1. [This fiddle](https://jsfiddle.net/efkghp5j/4/) contains a minimal working example of a nested component (Field & Measures -> Client -> First Name), w

[2022-05-14 11:07] 0liver commented on #1424
I've just noticed that this bug report should be in the formio.js repository, so I've "moved" it [there](https://github.com/formio/formio.js/issues/4709).

[2022-05-14 11:07] #1424 closed

[2022-05-14 19:14] Susccy opened #1425 "[Question] How to register a custom component on the server?"
I have created a custom component for my custom client editor with formiojs and registered it with `Formio.use()`. It works on the client and I can also save the form with the custom component to the locally hosted formio API server (cloned from this repo) but when I try to save a submission I get a BadRequest response due to a validation error on the component even though the entered data is fine

[2022-05-18 12:00] harthorst commented on #1425
What worked for me:
1) take https://github.com/formio/contrib as starting point
2) set "module": "commonjs" in tsconfig.json
3) build the package (e.g. npm pack)
4) import the package in formio server (e.g.: npm i <path_to_tgz>)
5) add the following lines in index.js:
`
const myPlugin = require('<module-name>');
util.Formio.Formio.use(myPlugin.default);
console.log('.....', util.Formio.Components)

[2022-05-20 12:10] inai-girish opened #1427 "[BUG] Unable to render form.io on Android 5"
## Environment
Please provide as many details as you can:

- Hosting type
  - [] Form.io
  - [x] Local deployment
    - Version:
- Formio.js version: 4.13.5
- Frontend framework: Vanilla Js
- Browser: Chrome
- Browser version: Chrome 37

## Steps to Reproduce
1.  Boot an android emulator with API level 21, Android 5
2. Go to chrome and type the following URL - https://formio.github.io/formio.js/ap

[2022-05-23 14:20] #1425 closed

[2022-05-24 12:05] pummy-kanhasoft commented on #433
Can anyone help me out from getting DefaultValue from DATA section in custom component.
![form io](https://user-images.githubusercontent.com/91519891/170030461-9c5d4a0f-acf1-4d82-8b60-8d0af4288103.png)

[2022-05-24 23:49] datapolitical commented on #1421
I'm having the same issue. What was the resolution? @zyq524

[2022-05-25 01:52] datapolitical opened #1428 "[BUG] Cannot read properties of undefined (reading 'toLowerCase')"
## Environment
Please provide as many details as you can:

- Hosting type
  - [] Form.io
  - [x] Local deployment
    - Version:
- Formio.js version:
- Frontend framework:
- Browser:
- Browser version:

## Steps to Reproduce
1. Install form.io enterprise
2. set up Azure Saml SSO
3. Try to log in

## Expected behavior
successful log in
## Observed behavior
Redirection to error message: Cannot read

[2022-05-25 08:03] DiaMincu commented on #687
Thank you!!! This helped me too, with a Data Grid!!!

[2022-05-25 14:50] wag110894 commented on #1428
@datapolitical, Can you provide feedback as to what version you are using?

[2022-05-25 15:24] datapolitical commented on #1428
7.3.2

[2022-05-25 15:41] datapolitical opened #1429 "Unexpected token in JSON response body"
My form works beautifully, but instead of receiving and reading the httpresponse that I send, I get the following error in the logs:

invalid json response body at ... Unexpected token E in JSON at position 0","type":"invalid-json","name":"FetchError"},"response":{}}

I'm definitely including a response body in the request, as well as the status code. So I'm really not sure what's going on.

[2022-05-25 15:46] datapolitical opened #1430 "Simulating Formio post request"
I want to simulate a formio webhook POST request in postman, but I can't figure out what the parameters and the body should be.

I obviously know what the form data is, though I'm not entirely sure how to format a selectBoxes (set of checkboxes) correctly, but the rest of the form body is not clear to me.

If someone can provide a quick example of how you would mimic a simple formio webhook reques

[2022-05-26 02:04] datapolitical commented on #1429
This turns out to be due to Azure functions producing an XML response natively, which form.io does not want.

To get a JSON response, I did the following:

[code]

[2022-05-26 02:04] #1429 closed

[2022-05-26 05:22] ChamMya2620 commented on #666
hi all, please help me!.
i user formio in native kotlin android.
i reference this document,
***
https://decode.agency/article/form-io-in-native-android-application/

****
i do not Validating and collecting form data.
if you have  test app gethub using formio , please give me.
thanks you .

[2022-06-02 14:36] CHASESY commented on #1428
@datapolitical are you still blocked on this?

[2022-06-02 14:42] datapolitical commented on #1428
No, Leslie helped me resolve it by email. The issue was email mappings not being set up correctly.

[2022-06-02 14:43] CHASESY commented on #1428
Sounds good. Closing issue.

[2022-06-02 14:43] #1428 closed

[2022-06-02 16:51] datapolitical opened #1432 "Form Manager SSO"
Having successfully set up SSO for the portal, I'm not trying to do the same for four manager, problem is, the documentation is rather unclear about precisely what steps to take.

https://help.form.io/userguide/portalsso#form-manager-sso

I set up each stage of the project that I created with SAML SSO, and created the SAML login button according to the instructions, but it only appears when I visi

[2022-06-07 18:09] echo-liang commented on #471
Also looking for the 'disable' feature, what's the current status on that?

[2022-06-07 19:36] wag110894 commented on #471
Hello,

Conditional disable is available using our logic tab. https://formio.github.io/formio.js/app/examples/conditionalwizard.html,https://formio.github.io/formio.js/app/examples/conditions.html,https://formio.github.io/formio.js/app/examples/external.html

[2022-06-08 11:31] zachsa opened #1433 "[BUG] Is it possible to share the form?"
Hi,

Apologies if this is not the best place to ask this! I'm new to this project and trying to figure out how to use this project

## Environment
Using the default `docker-compose` introductory setup, I see the application and can create forms. After experimenting with the user interface somewhat I'm unsure of how the form that I've created is intended to be used.

For example, how would I simply

[2022-06-09 18:43] hbobka commented on #1411
moved to: https://github.com/formio/formio.js/issues/4736

[2022-06-09 18:43] #1411 closed

[2022-06-10 20:42] #858 closed

[2022-06-29 12:12] kateliti commented on #1407
I nedd this too...!

[2022-06-30 14:30] SilviaAmAm opened #1440 "[BUG] Checking and unchecking the multiple option does not reset the defaultValue of a component"
## Environment
Please provide as many details as you can:

- Hosting type
  - [ ] Form.io
  - [x] Local deployment
    - Version: 4.12 and 4.13
- Formio.js version: 4.13
- Frontend framework: React
- Browser: Chrome, Firefox
- Browser version: Chrome 103, Firefox 101

## Steps to Reproduce

1. Open the Formio builder https://formio.github.io/formio.js/app/builder
2. Drag a textfield component into

[2022-06-30 14:51] #1440 closed

[2022-06-30 18:00] CrackerakiUA opened #1441 "Signature component is not working on pdf while in device (touch events)"
If you try to use this https://pro.formview.io/#/test-arbostar-state/pdftest1testcompany?header=1&reset=1 from mobile or simply enable dev tools, you will be able to see that you can't simply sign anything. This only appears only on pdf forms.

[2022-07-01 16:44] motherb2 opened #1442 "Logic Tab Missing on Form Components"
Just more of a general question than a bug, but what exactly is the Logic tab's functionality?

I see it on the Enterprise Form Builder:
![Screen Shot 2022-07-01 at 12 35 55 PM](https://user-images.githubusercontent.com/48922600/176935705-93354bd4-b92f-4d08-ae6e-0c2b7c812b0a.png)

But not on my local form builder:
![Screen Shot 2022-07-01 at 12 38 01 PM](https://user-images.githubusercontent.com/4

[2022-07-06 06:21] Stuti910 opened #1443 "Custom Default Value for a field loads multiple times while loading the form"
Greetings,

We have a form in form io that had a text field on which we called ajax service and one more where we were calling database lookup. During testing we noticed that the service and database lookup are being called multiple times during the form load causing performance issues. To confirm this, we applied alert in the custom value field and saw the alert window around 4-5 times during the

[2022-07-06 20:52] travist commented on #1441
The "pdf-first" forms are pixel perfect forms. This is GREAT for the use case that you wish to show the form "as-is" to the end user. However, it DOES NOT work responsively (since it would no longer be pixel perfect), so your use case is invalid. If you wish to have a "mobile" view of this form, then you can just change the display of the form to "form" but keep the pdf attached so that they fill

[2022-07-06 20:52] #1441 closed

[2022-07-08 11:40] pulkit877 commented on #1443
I am also facing the same issue and have this concern. Can anyone help us understand this functionality

[2022-07-13 11:02] peterhall-agrimetrics opened #1444 "[BUG] defaults in resource are not respected when using API"
## Environment
Please provide as many details as you can:

- Hosting type
  - [] Form.io
  - [x] Local deployment
    - Version: 3.0.0-rc.4

## Steps to Reproduce
1. Create a resource containing a checkbox `foo` with a default value of `false`
2. Use an API request to create a submission without `foo` on the payload
3. Retrieve the submission using the API

## Expected behavior

The returned submi

[2022-07-20 08:26] Aminapoc opened #1446 "[Question] Is it possible to create sub-forms and integrate them in different forms ?"
Hello,

Is it possible to build "sub-forms" that are called in other forms.
Example:
Sub-form containing : Name, address, phone number ..
I will need this sub-form in many forms and to avoid creating these fields as many forms as I have, I want to link it directly.

Thank you for your answers !

[2022-07-25 19:42] Gabrbra opened #1447 "[BUG] Changing the title of the wizard through a logic"
## Environment
Please provide as many details as you can:
In the panel logic, I defined the trigger when the select value is 1, and action "schema = {title: 'Test 1'};"

- Bug Video
https://user-images.githubusercontent.com/42838765/180861231-45937f2f-b54f-420a-8e9c-46cb1d56c6d3.mp4

- Form
![image](https://user-images.githubusercontent.com/42838765/180860198-abd12a87-5460-463c-b358-e6702a8f5db7.p

[2022-07-29 22:30] Alexa-Green opened #1449 "[BUG] Wizard endless looping to first page on certain devices on long forms"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [x] Local deployment
    - Version:
- Formio.js version: 4.14.8
- Frontend framework: React
- Browser: Chrome
- Browser version: Tested on:
  - Mac / Chrome Version 103.0.5060.114 (Official Build) (x86_64) - bug is happening
  - Mac / Chrome Version 103.0.5060.134 (Official Build) (arm64) - bug is not hap

[2022-08-02 21:29] travist commented on #1449
Thanks @Alexa-Green for bringing this to our attention. We are going to look at this issue in our next planning session to see if we can allocate a developer to investigate. Upon first glance, it seems that we are allowing the page index to increment before the page is rendered and the index is allowed to update before the previous page has rendered, thereby getting them out of sync. I am pretty s

[2022-08-05 17:35] phucduong86 opened #1453 "[BUG] Number submission is not converted to number type on server"
## Environment
Please provide as many details as you can:

- Hosting type
  - [ ] Form.io
  - [x] Local deployment
    - Version: {"version":"7.4.0","schema":"3.3.14"}
- Formio.js version: Renderer: 4.14.8
- Frontend framework: Vuejs
- Browser: Chrome/Firefox/Safari

## Steps to Reproduce
1. Create a form with following definition

[code]

2.  Create a submission with input "100 Zeppelin"
<img wid

[2022-08-07 23:11] #1360 closed

[2022-08-07 23:12] #1110 closed

[2022-08-07 23:14] #970 closed

[2022-08-09 01:43] ronnieguha opened #1454 "How to stop formio calling dropdown URLs when it loads"
Hi and thanks for any advice / help. I have a web page with 50+ dropdowns. Each dropdown calls different APIs for populating its data. I use the "search" and "lazyLoad" feature - https://formio.github.io/formio.js/app/examples/select.html

What I need to understand how to do
1. The dropdown should call the URL via LazyLoad
2. When the web page is being created with data from my backend code - it s

[2022-08-10 09:02] aryanisml commented on #1230
I am using React app login successfully in Form IO but getting the error like unauthorized while creating the form . What additional information we need to pass for authorization

[2022-08-10 10:30] sdancer75 commented on #1230
Only administrators can create forms if you are using the embedded Formio authorization system. So I suppose the role of the mentioned user is not an administrator. So give the permissions to create all, read all, delete all to your user.

[2022-08-12 08:09] PhatWheZ opened #1455 "[QUESTION] Pre-populating Form Fields from URL request"
Hi there,

Im trying to pre-populate form fields from a URL link to include some basic information, such as name, email.
I am serving the form as a static file:
[code]

The idea is to perform a URL request with data to populate some input fields automatically for the user which will result in less input from the user, and less potential issues with workflows behind the scenes
eg: www.example.com/p

[2022-08-15 06:30] #1455 closed

[2022-08-18 19:29] Alexa-Green commented on #1449
@travist Thanks!

[2022-08-24 17:21] akhossanX opened #1458 "[BUG] Textfield and TextArea fields placeholder is not customizable"
## Environment
Please provide as many details as you can:

- Hosting type
  - [] Form.io
  - [x] Local deployment
    - Version:
- Formio.js version: 4.13.10
- Frontend framework: None
- Browser: Chrome
- Browser version: 104.0.5112.101

## Steps to Reproduce
1. Edit textfield component editForm
2. Modify label placeholder to "Hello" for example

## Expected behavior
in Form builder when you drag

[2022-08-27 05:48] iyyappanrock535 opened #1460 "[BUG] Formio EditGrid row delete and save functions"
## Environment
Formio EditGrid row delete and save functions

I'm using react formio npm. The EditGrid row delete, add, edit events not available. How to handle the events functions?

[2022-08-29 13:38] kongxx opened #1461 "[BUG] got “x-file-token is invalid.“ error when export pdf"
## Environment
I export pdf file from https://portal.form.io/ , but I got the error "x-file-token is invalid."
Here is the url: https://api.form.io/project/62cd93a9a52f5eba15c62599/form/630633308e56151417ca8ef8/submission/630b22800925c9959186b5bc/download?token=KrtqSnrdcKIUJqIdtRFaGIzuVHj4pM&_ga=2.140703154.1035513660.1661671086-425062866.1661350980

- Hosting type
  - [x] Form.io
  - [ ] Local de

[2022-09-07 10:18] adityapathak026 opened #1467 "[BUG]"
## How to add extra plugins in CKeditor for textArea

- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version:
- Formio.js version:
- Frontend framework:
- Browser:
- Browser version:

## Steps to Reproduce
1.
2.
3.

## Expected behavior

## Observed behavior

## Example
If possible, please provide a screenshot, live example (via [JSFiddle](https://jsfiddle.net/) or similar), and/or

[2022-09-07 11:02] HariVamsiK commented on #1460
Hi
I would like to contribute on this issue.

[2022-09-07 11:08] HariVamsiK commented on #1321
Hi
I would like to contribute on this issue

[2022-09-07 11:08] HariVamsiK commented on #1285
Hi
I would like to contribute on this issue.

[2022-09-07 11:59] akhossanX commented on #1458
@travist can you please take a quick look at this

[2022-09-08 03:51] arogl opened #1468 "[BUG] Date deprecation warning error in FormIO when using REACT"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io and [next](https://next.form.io/#/)
  - [x] Local deployment
    - Version: 7.4.0
- Formio.js version: 4.14.0-rc.12 (next)
- Frontend framework: v8.0.0-alpha.19 (next)
- Browser: Chrome
- Browser version: 104

## Steps to Reproduce
1. Create react form
2. Add a day field, place restrictions on year, and make

[2022-09-09 12:07] calaf2 commented on #951
Hi,
On the same topic, is "Email Authentication" available for open source projects? I haven't been able to get the  [[token(data.email=user)]] substitution to work.
What did I miss?
Thanks
Eric

[2022-09-11 16:19] calaf2 opened #1469 "[OPEN SOURCE] Is there a way to use Email Authentication with the open source version?"
## Environment
Please provide as many details as you can:
Hi, I've developed a Vue application with the open source version (hosted on my computers).
I'm trying to set up the [Email Authentication](https://help.form.io/developers/email-login) and [Password Reset](https://help.form.io/tutorials/password-reset), but the substitution only seems to work on the form.io platform.
Is there a way to use i

[2022-09-12 10:21] PrathyushaModala commented on #1458
Hi @akhossanX ,
I would like to work on this.

[2022-09-12 10:21] PrathyushaModala commented on #1469
Hi @calaf2 ,
I would like to work on this.

[2022-09-12 11:01] akhossanX commented on #1458
Hi @PrathyushaModala ,
I am available for any questions that you may have about this issue

[2022-09-12 14:48] travist commented on #1468
Thanks for letting us know about this issue. We will take a look and see what we can do about getting a fix in place.

[2022-09-12 20:49] calaf2 commented on #1469
Hi, @PrathyushaModala
Much appreciated, thank you.
I haven't dug into the source yet, and wanted to ask prior to spending time in a software I'm not familiar with.
I've seen unanswered questions about this, but I don't really see any reason why this feature wouldn't be available.
Best
Eric

[2022-09-13 06:01] PrathyushaModala commented on #1458
Hi @akhossanX ,
Could you please assign it to me. That would be great!

Thank you.

[2022-09-13 15:39] wag110894 commented on #951
The Email Authentication is only available using on commercial offering.

[2022-09-13 15:39] #951 closed

[2022-09-13 19:44] calaf2 commented on #1469
#951 has just been updated: this feature is only available in the commercial version. It wold be great to have a way to implement it without patching the source.

[2022-09-14 11:10] akhossanX commented on #1458
@PrathyushaModala I don't have write access to the repository, you can contact one of the maintainers [**HERE**](https://github.com/formio/formio/graphs/contributors)

[2022-09-14 12:13] PrathyushaModala commented on #1458
@akhossanX  Thanks for the info!!

[2022-09-14 12:14] PrathyushaModala commented on #1458
@akhossanX Thanks for the info!!

[2022-09-14 12:14] PrathyushaModala commented on #1458
Hi  @vandrijevik , @sl45sms
I would like to work on this issue, if you approve me to do so😃.
Can you please assign it to me.

Thank you.

[2022-09-14 12:48] sl45sms commented on #1458
Hi @PrathyushaModala I do not own this repo and do not have write access, just have done some contributions long time ago. Probably have to ask Travis or other maintainer to assign you tasks.

[2022-09-14 14:53] PrathyushaModala commented on #1458
@sl45sms Thank you for the info!!

[2022-09-14 14:55] PrathyushaModala commented on #1458
Hi @travist , @zackurben  , @randallknutson
I would like to work on this issue, if you approve me to do so😃.
Can you please assign it to me.

Thank you.

[2022-09-15 12:59] bilogic commented on #471
@wag110894

Your examples only show how a component can be hidden, not disabled.

[2022-09-15 16:10] lukuser opened #1473 "OAuth setup"
I configured OAuth Authentication in Project settings and saved (by following this help link: [https://no-help.form.io/integrations/okta/#okta-app](onenote:#section-id={EEA49416-D045-4D44-BBCB-691FD137C341}&end&base-path=C:\Box\Lukasz%20Kustusz\Projects\AY%20Projects\Finance%20DM.one)), but when I want to add an Action (OAuth (Premium)) to the Login form, the OAuth Provider choices are empty.

[2022-09-16 05:18] bilogic opened #1474 "[BUG] Green `Submission Complete` always appears when `formio.fetch()` is called"
## Environment
Please provide as many details as you can:

https://formio.github.io/formio.js/app/examples/customendpoint.html

## Steps to Reproduce
1. After clicking the form, a green `Submission Complete` is always shown before the server responds.
2. It seems that once `formio.fetch()` is called, this green message appears.
3. This green message can mislead user into thinking all is good.

##

[2022-09-16 07:28] bilogic commented on #1474
I realized in the settings of buttons, there is a `POST to URL` option, which solves the problem, but introduces another security related issue of not having CSRF tokens.

Instead of rewriting the whole XHR request like shown in the example, is there a way to inject a header using javascript at runtime?

[2022-09-16 14:21] wag110894 commented on #1473
Here are the correct docs:
https://help.form.io/developers/saml#okta-saml

[2022-09-16 14:21] #1473 closed

[2022-09-17 12:00] PrathyushaModala commented on #1458
Hi @travist , @zackurben , @randallknutson
Can you please assign this work to me.

Thank you.

[2022-09-18 11:40] PrathyushaModala commented on #1458
Hi @akhossanX ,
Can you please tell me the location where you found this issue.

[2022-09-21 10:38] PrathyushaModala commented on #1458
/assign @PrathyushaModala

[2022-09-21 10:39] PrathyushaModala commented on #1458
/assign @PrathyushaModala

[2022-09-21 10:39] PrathyushaModala commented on #1458
Hi @travist  , @zackurben  , @randallknutson
Can you please assign this work to me.

Thank you.

[2022-09-21 13:45] akhossanX commented on #1458
@PrathyushaModala I am not sure about the exact location in the code, I didn't inspect that, you can inspect that yourself.
try to go through components code, and find out where the placeholder property is set for each component...

[2022-09-27 13:23] aryanisml opened #1475 "Form IO require react with typescript example as current react-starterkit-app only work with .js not with typescript"
starter kit showing the onSubmit or onChange events of formbuilder. However while working in typescript we are getting the errors there is no events available .

Requesting to share the form io example or repo with react typescript project.
It would help us.

[2022-09-28 00:08] alex-rankin opened #1477 "[BUG] Installed form.io on nginx & node.js server does not work 404 on string '/user/login?live=1'"
## Environment

I have run into quite a few issues with getting form.io working on a live server/domain.

I have installed a clean git pull a couple of times and used a new mongo DB but no luck. I have also ensured that the nginx config is correctly pathing to all files which is seems to be doing BUT it cannot path to this query `/user/login?live=1  Failed to load resource: the server responded wi

[2022-09-28 01:05] brendanbond commented on #1477
Hi, sorry to hear you're having problems. I imagine this is a problem with your reverse proxy configuration. Can you post your nginx sites-available server block(s)?

[2022-09-28 01:06] brendanbond commented on #1475
Hi @aryanisml - can you post the errors you're getting from Typescript? We'll need more information to help you get to the bottom of your issue here.

[2022-09-28 01:34] alex-rankin commented on #1477
Hi Brendan,

Thanks for replying!

## sites-available

`upstream service {
        server localhost:3001;
}

server {
    listen 80;

    location / {
        proxy_pass http://service/;
        proxy_connect_timeout 3s;
        proxy_send_timeout   5s;
        proxy_read_timeout   5s;
        proxy_pass_header Set-Cookie;
                proxy_redirect     off;
                proxy_hide_header

[2022-09-28 02:17] alex-rankin commented on #1477
Just on that note while I think about it is the below nginx.conf configured correctly to actually allow the server to path to the application (I think this may be wrong...)

user www-data;
worker_processes 4;
pid /run/nginx.pid;

events {
	worker_connections 768;
	# multi_accept on;
}

http {

	##
	# Basic Settings
	##

	sendfile on;
	tcp_nopush on;
	tcp_nodelay on;
	keepalive_timeout 65;
	types_h

[2022-09-28 16:17] #123 closed

[2022-09-28 16:18] heather-formio commented on #127
Not able to replicate this issue. Closing this for now, please feel free to reopen with an example if anything persists.

[2022-09-28 16:18] #127 closed

[2022-09-28 16:20] heather-formio commented on #129
Closing this as it is stale. Please feel free to reopen or suggest any enhancement requests you'd like to see in an new issue.

[2022-09-28 16:20] #129 closed

[2022-09-29 06:29] alex-rankin commented on #1477
Just as a test, I also booted up an apache container, installed and plugged in mongo db same issue? Cannot find that string /user/login?live=1

Apache container > http://formio.benefitzonline.co.nz/#/auth/login

[2022-09-29 09:07] Mimisss opened #1479 "[BUG] Select Component breaks when Value Property is set to Entire Object"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
- Formio.js version: 4.14.8
- Frontend framework: Angular 14.0.0
- Browser: Google Chrome
- Browser version: 105.0.5195.127 (Official Build) (64-bit)

## Steps to Reproduce

1.  Follow and complete the [Application Development Guide](https://help.form.io/intro/application).
2. Edit `register.module.ts` to **r

[2022-10-01 07:03] vikanirav commented on #1461
Hello,

I am also getting same error at the time of click on PDF icon to view PDF file.

[2022-10-09 09:11] Mimisss commented on #1479
Thank you very much for fixing this on a timely fashion.

[2022-10-09 09:11] #1479 closed

[2022-10-12 00:10] katrinrodkina commented on #471
You can put custom disabled logic on the component.

Lets say **Trigger**: type simple, when some component has certain value and then in **Actions** name - disabled, Type - property, component property - disabled , true

[2022-10-12 02:57] bilogic commented on #471
@katrinrodkina thanks it is quite rigid in setting up, but does work. Offhand, I think it can support any use cases.

[2022-10-12 06:12] PrathyushaModala commented on #1458
@akhossanX Thank you for the info!

[2022-10-12 13:53] PrathyushaModala commented on #1458
Hi @travist  , @zackurben  , @randallknutson
Can you please assign this work to me.

Thank you.

[2022-10-14 14:19] PrathyushaModala commented on #1234
I also tried implementing locally but facing the issue,any solution to fix it??

[2022-10-18 03:07] #953 closed

[2022-10-22 03:44] PrathyushaModala commented on #1458
Hi @akhossanX ,
In which location of the directory, the code snippet which you provided is present?

[2022-10-26 14:59] PrathyushaModala commented on #1458
Could you please help me in this.

[2022-10-26 15:53] akhossanX commented on #1458
The code snippet you are seeing here isn't part of formio code, that is my own code...

[2022-10-31 21:06] brendanbond commented on #1461
Are you on a "Basic" plan? At any time did you change the PDF server to another URL in your project settings?

[2022-11-02 10:08] torbjornlindstrom opened #1483 "[BUG] Using translations I do not have any way of controling numeric and date formas. Or am I missing something?"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version:
- Formio.js version:
- Frontend framework:
- Browser:
- Browser version:

## Steps to Reproduce
1.
2.
3.

## Expected behavior

## Observed behavior

## Example
If possible, please provide a screenshot, live example (via [JSFiddle](https://jsfiddle.net/) or similar), an

[2022-11-03 15:51] PatrikTrefil opened #1485 "[BUG] MongoDB version"
## Environment
Please provide as many details as you can:

- Hosting type
  - [ ] Form.io
  - [x] Local deployment
    - Version: 3.0.0
- Formio.js version:-
- Frontend framework:-
- Browser:-
- Browser version:-

## Steps to Reproduce
0. `git clone <this repo>`
1. `npm install`
2. `docker compose up`

## Expected behavior

no warnings

## Observed behavior

[code]

[2022-11-05 05:47] PrathyushaModala commented on #1458
Can we communicate in slack. I have few points to discuss??

[2022-11-06 09:04] PrathyushaModala commented on #1458
Hi @akhossanX I have this doubt do I need to change the Text Area wording from Picture-1 or the Field Label wording from the  Picture-2?? please confirm this
**Picture-1**
![d1](https://user-images.githubusercontent.com/62796352/200160452-2122e9c9-02aa-4d9c-9272-a6a68e8ef5b5.png)
**Picture-2**
![d2](https://user-images.githubusercontent.com/62796352/200160458-c8f02e66-01ce-4718-a843-466e36853396.p

[2022-11-06 11:32] akhossanX commented on #1458
Join me on discord @akhossan#3635

[2022-11-06 11:38] akhossanX commented on #1458
In picture 1 you can see that the wording "Text Area" is set as a default value (not a placeholder), the problem is that you can't customize that in Fomio.Componenents.components.textarea.editForm, say you want to set some dummy string as a default value (eg: "hello world").
In picture 2, same issue raizes here too, you can't customize the placeholder for that label, even if you set the placeholde

[2022-11-06 11:47] akhossanX commented on #1458
@PrathyushaModala
The code snippet I have provided above, tries to customize the editForm for textarea component.
` ... {type: 'textfield', key: "label", label: 'Label', placeholder: 'Label'}, ...`
in this line, the label input is represented with a textfield component, this component has "Label" as label, and "Label" as placeholder, so "Label" wording should hold the place in the textfield input,

[2022-11-06 13:25] PrathyushaModala commented on #1458
@akhossanX
So In the code base in need find where exactly this property is there and replace it with the same wording right and make sure both Field Label and TextArea as label??

[2022-11-06 20:51] PrathyushaModala commented on #1458
Not able to find you..can you please text me My I'd is Prathyusha#3616

[2022-11-06 20:52] PrathyushaModala commented on #1458
Please respond to this..

[2022-11-06 22:40] akhossanX commented on #1458
@PrathyushaModala
No it is a bit complex than that, We don't want here to hardcode that wording. the library should provide flexibility to customize the placeholder, this means as a developer using the library, you should be able to customize the editForm and have the labels and placeholders set to whatever wording you like depending on your preferences...

[2022-11-07 04:24] PrathyushaModala commented on #1458
So you are saying in one editform for multiple text area components the placeholder should be different and that value should be given by user right??

[2022-11-07 07:31] PrathyushaModala commented on #1458
@akhossanX
![image](https://user-images.githubusercontent.com/62796352/200251088-7997bf3e-6733-43f5-ae78-53818277d6e0.png)
But I can see there is another field that is serving this purpose. Please correct me If I'm analysing it wrong.

[2022-11-07 13:05] PrathyushaModala commented on #1458
Please respond to this.

[2022-11-08 02:57] PrathyushaModala commented on #1458
@akhossanX
Waiting for your reply.

[2022-11-08 11:06] PrathyushaModala commented on #1458
Hi @akhossanX
Please respond to this..

[2022-11-08 12:14] aryanisml opened #1486 "Premium component like Tagpad , Sketchpad are not available"
I am using formio/react formbuilder in react application. I am not able to see the two-premium component tagpad and sketchpad.
Is any way to enable or visible these two components??? Or we need to buy the form io for premium component?

[2022-11-09 20:11] pboucher1960 opened #1487 "Changing the builder from Form to Wizard and back to Form does not recover the original form"
From an empty form, the default creation mode is Form. By changing the creation mode from Form to Wizard and back to Form, the resulting layout as well as the JSON schema is now different from the original ones. When used in an application that detects modifications in order to activate a save button, it was expected that changing the form from state A to state B and back to A would not generate a

[2022-11-11 18:17] PrathyushaModala commented on #1458
Hi @akhossanX
Waiting for your reply.

[2022-11-12 16:37] akhossanX commented on #1458
@PrathyushaModala
No you are getting it wrong, I guess you have to take a look first at components customization in the documentation,
Think of it is if we want to create a new custome component that is not offered by formio, in this case we need to define the schema, template (how the component UI looks like) and the **editForm** which is our matter here
**editForm** is controlling the popup dial

[2022-11-13 06:35] h20220025 commented on #1485
hi @PatrikTrefil , I'm interested in working on this issue. Can you please assign me this issue?

[2022-11-14 15:02] PatrikTrefil commented on #1485
I can't be the one to assign this issue. Someone with higher privileges has to do it.

[2022-11-14 15:36] brendanbond commented on #1485
@PatrikTrefil you can use any version of MongoDB you'd like, simply edit the [docker-compose.yml](https://github.com/formio/formio/blob/f6705e5f6bcf6100a89e4cd9b46b050c290410ad/docker-compose.yml) file to pull in your preferred version

[2022-11-14 15:36] #1485 closed

[2022-11-17 16:08] chdonncha opened #1489 "Link to jump to validation error does not work for "editgrid" input"
When the Validation catches errors into an alert and provides links to navigate to the field like so:
![image](https://user-images.githubusercontent.com/8567795/202496228-95ca1c8f-27f9-45b8-9ace-5cd55c4b2e3e.png)

The links for the First and Last Names work since they are inputs but the Items does not using the type editgrid

If I change items to use differnet inputs such as select or input then i

[2022-11-17 22:14] wag110894 commented on #1489
@chdonncha Can you provide version of where you are seeing this issue?

[2022-11-18 09:59] chdonncha commented on #1489
I'm currently using version 4.14.7

[2022-11-23 19:33] martym00se opened #1490 "Date one day earlier when conditional is in schema"
## Environment
Please provide as many details as you can:

- Hosting type
  - [] Form.io
  - [X] Local deployment
    - Version:
- Formio.js version:   formio.4.15.0-rc.12.js
- Frontend framework:   js
- Browser: Chrome
- Browser version:

## Steps to Reproduce
Add a datetime control and prepopulate it with "viewer" timezone set.     If there is a conditional to make it display, it will be one day

[2022-11-24 08:30] ChanLee90 commented on #1024
Any  news about support form.io in flutter? thx

[2022-11-24 21:12] doublegrey commented on #1024
Host web app with the form you need and just open in through https://pub.dev/packages/webview_flutter

[2022-11-29 11:42] abhishek0196 commented on #1251
Hello @peterhall-agrimetrics, can you please share the solution here, it would help me with one similar scenario.